<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="ace-settings-container" id="ace-settings-container">
                <ul class="pagination">
                    <li><a class="auth" sn="AdminMeituanController.listShop" href="/admin/meituan/listShop"><span class="glyphicon glyphicon-th-list"></span> 美团门店列表</a></li>
                    <li><a class="auth" sn="AdminMeituanController.add" href="/admin/meituan/add"><span class="fa fa-plus"></span> 添加美团门店</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
