<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/weixinModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="/weixin/stock/stock-index.js"></script>
    <title th:text="${session.appConfig ne null?session.appConfig.appName:'汉丽轩'}">昭通汉丽轩</title>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div class="container">
        <div class="page">
            <div class="page__hd">
                <h1 class="page__title">库存管理系统</h1>
                <p class="page__desc" th:text="${session.appConfig ne null?session.appConfig.appName:'汉丽轩'}">加载更多</p>
            </div>
            <div class="page__bd">
                <div class="" th:if="${loginWorker eq null or loginWorker.operator eq null or loginWorker.operator eq ''}">
                    <div>
                        抱歉的告诉您，此功能我们只对店铺管理人员开放。即将自动跳转到<a href="/weixin/index" class="auto-redirect" time="3">首页</a>。
                    </div>
                </div>
                <div th:unless="${loginWorker eq null or loginWorker.operator eq null or loginWorker.operator eq ''}">
                    <div class="page">
                        <div class="weui-grids">
                            <a href="/wx/stock/stockCategory/list" class="weui-grid">
                                <div class="weui-grid__icon">
                                    <b class="fa fa-cubes" style="font-size:2em;"></b>
                                </div>
                                <p class="weui-grid__label">物品类别</p>
                            </a>
                            <a href="/wx/stock/stockGoods/list" class="weui-grid">
                                <div class="weui-grid__icon">
                                    <b class="fa fa-gift" style="font-size:2em;"></b>
                                </div>
                                <p class="weui-grid__label">物品管理</p>
                            </a>
                            <a href="javascript:;" class="weui-grid">
                                <div class="weui-grid__icon">
                                    <b class="fa fa-share-square-o" style="font-size:2em;"></b>
                                </div>
                                <p class="weui-grid__label">出库登记</p>
                            </a>
                            <a href="javascript:;" class="weui-grid">
                                <div class="weui-grid__icon">
                                    <b class="fa fa-shopping-basket" style="font-size:2em;"></b>
                                </div>
                                <p class="weui-grid__label">物品申购</p>
                            </a>
                            <a href="javascript:;" class="weui-grid">
                                <div class="weui-grid__icon">
                                    <b class="fa fa-search-plus" style="font-size:2em;"></b>
                                </div>
                                <p class="weui-grid__label">库存盘点</p>
                            </a>
                            <a href="javascript:;" class="weui-grid">
                                <div class="weui-grid__icon">
                                    <b class="fa fa-plus-circle" style="font-size:2em;"></b>
                                </div>
                                <p class="weui-grid__label">入库登记</p>
                            </a>
                            <a href="javascript:;" class="weui-grid">
                                <div class="weui-grid__icon">
                                    <b class="fa fa-warning" style="font-size:2em;"></b>
                                </div>
                                <p class="weui-grid__label">预警信息</p>
                            </a>
                            <a href="javascript:;" class="weui-grid">
                                <div class="weui-grid__icon">
                                    <b class="fa fa-tasks" style="font-size:2em;"></b>
                                </div>
                                <p class="weui-grid__label">我的任务</p>
                            </a>
                            <a href="javascript:;" class="weui-grid">
                                <div class="weui-grid__icon">
                                    <b class="fa fa-pencil-square-o" style="font-size:2em;"></b>
                                </div>
                                <p class="weui-grid__label">物品预录入</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="weixin/index/index-footer :: content" th:remove="tag"></div>
</div>
</body>
</html>