<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/weixinModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="/weixin/weixin-account-me.css"/>
    <script type="text/javascript" src="/weixin/weixin-bind-phone.js"></script>
    <script type="text/javascript" src="/weixin/weixin-key-set.js"></script>
    <script type="text/javascript" src="/weixin/weixin-card.js"></script>
    <script src="/weixin/weixin-account-me.js"></script>
    <title th:text="${session.appConfig ne null?session.appConfig.appName:'汉丽轩'}">昭通汉丽轩</title>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div class="page__bd page__bd_spacing">
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="center-head"  style="width:100%; float:left;">
                    <span class="head-img" style="float:left;"><img th:src="${account.headimgurl}"/></span>
                    <span class="head-info" style="float:left;">
                        <span th:text="${account.nickname}" class="nickname"></span>
                        <span th:switch="${account.type}">
                            用户类型：
                            <span th:case="0" th:remove="tag"><i th:if="${account.hasCard eq null or account.hasCard eq '0'}" style="color:#F60">（非会员）</i></span>
                            <span th:case="1" th:remove="tag">员工</span>
                            <span th:case="2" th:remove="tag">经理</span>
                            <span th:case="5" th:remove="tag">股东</span>
                            <span th:case="10" th:remove="tag">管理员</span>
                            <b th:if="${account.hasCard eq '1'}" style="color:#FF0">（会员）</b>
                            <i th:if="${account.hasCard eq '2'}" style="color:#F60; text-decoration:line-through;">（会员过期）</i>
                        </span>
                        <span>
                            <!--邀请人：<b th:remove="tag" th:text="${(account.followUserName ne null and account.followUserName ne '')?account.followUserName:'无'}"></b>-->
                            <a th:href="@{/weixin/qr(id=${account.id})}"><i class="fa fa-info"></i> 邀请好友赚积分！</a>
                        </span>
                    </span>
                </div>
                <div class="line-div"></div>

                <div class="weui-cells" style="width:100%;">
                    <a class="weui-cell weui-cell_access" href="/wx/account/money" >
                        <div class="weui-cell__hd"><i class="list-icon fa fa-rmb"></i></div>
                        <div class="weui-cell__bd">
                            <span>账户余额</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span th:text="${wallet.money*1.0/100} + ' 元'"></span>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access show-password-cls" href="javascript:void(0)" onclick="showPassword()">
                        <div class="weui-cell__hd"><i class="list-icon fa fa-key"></i></div>
                        <div class="weui-cell__bd">
                            <span>消费密码</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span th:text="${wallet.password}">查看或修改</span>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="/wx/account/score" >
                        <div class="weui-cell__hd"><i class="list-icon fa fa-opera"></i></div>
                        <div class="weui-cell__bd">
                            <span>我的积分</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span th:text="${wallet.score} + ' 分'"></span>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="/wx/member/chargeList" >
                        <div class="weui-cell__hd"><i class="list-icon fa fa-plug"></i></div>
                        <div class="weui-cell__bd">
                            <span>充值明细</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span th:text="${chargeCount}"></span>
                        </div>
                    </a>

                    <a class="weui-cell weui-cell_access" th:href="${(account.phone eq null || account.phone eq '')?'javascript:bindPhone()':'javascript:showPhone()'}" >
                        <div class="weui-cell__hd"><i class="list-icon fa fa-phone"></i></div>
                        <div class="weui-cell__bd">
                            <span>手机号码</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span id="phone" th:text="${(account.phone eq null || account.phone eq '')?'未绑定':account.phone}"></span>
                        </div>
                    </a>

                    <a class="weui-cell weui-cell_access" href="/wx/account/commentList" >
                        <div class="weui-cell__hd"><i class="list-icon fa fa-comments-o"></i></div>
                        <div class="weui-cell__bd">
                            <span>我的评论</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span th:text="${commentCount}"></span>
                        </div>
                    </a>

                    <a class="weui-cell weui-cell_access" href="/wx/account/feedbackList" >
                        <div class="weui-cell__hd"><i class="list-icon fa fa-commenting"></i></div>
                        <div class="weui-cell__bd">
                            <span>我的消息</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span th:text="${feedbackCount}"></span>
                        </div>
                    </a>

                    <a class="weui-cell weui-cell_access" href="/wx/buffetOrders/listAdmin" th:if="${friendOrdersCount ne null}">
                        <div class="weui-cell__hd"><i class="list-icon fa fa-bar-chart"></i></div>
                        <div class="weui-cell__bd">
                            <span>折扣订单</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span th:text="${friendOrdersCount}"></span>
                        </div>
                    </a>

                    <a class="weui-cell weui-cell_access" href="/wx/account/own" >
                        <div class="weui-cell__hd"><i class="list-icon fa fa-gift"></i></div>
                        <div class="weui-cell__bd">
                            <span>我的物品</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span th:text="${ownCount}"></span>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="/wx/income/add" th:if="${account.type eq '10'}">
                        <div class="weui-cell__hd"><i class="list-icon fa fa-plus"></i></div>
                        <div class="weui-cell__bd">
                            <span>添加收入</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span>点击前往</span>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="/wx/income/list" th:if="${account.type eq '5' || account.type eq '10'}">
                        <div class="weui-cell__hd"><i class="list-icon fa fa-cny"></i></div>
                        <div class="weui-cell__bd">
                            <span>收入管理</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span th:text="|${#numbers.formatDecimal(incomeMoney, 0, 2)} 元|">点击前往</span>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="/wx/cashCal/index" th:if="${account.type eq '5' || account.type eq '10'}">
                        <div class="weui-cell__hd"><i class="list-icon fa fa-calculator"></i></div>
                        <div class="weui-cell__bd">
                            <span>收银对账</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span>点击前往</span>
                        </div>
                    </a>

                    <!--员工管理-->
                    <a class="weui-cell weui-cell_access" href="/wx/worker/list" th:if="${account.type eq '5' || account.type eq '10'|| account.type eq '2'}">
                        <div class="weui-cell__hd"><i class="list-icon fa fa-group"></i></div>
                        <div class="weui-cell__bd">
                            <span>员工列表</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span>点击前往</span>
                        </div>
                    </a>

                    <a class="weui-cell weui-cell_access" href="/wx/worker/add" th:if="${account.type eq '5' || account.type eq '10'|| account.type eq '2'}">
                        <div class="weui-cell__hd"><i class="list-icon fa fa-user-circle"></i></div>
                        <div class="weui-cell__bd">
                            <span>添加员工</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span>点击前往</span>
                        </div>
                    </a>

                    <a class="weui-cell weui-cell_access" href="/wx/card/allot" th:if="${account.type eq '5' || account.type eq '10'|| account.type eq '2'}">
                        <div class="weui-cell__hd"><i class="list-icon fa fa-credit-card"></i></div>
                        <div class="weui-cell__bd">
                            <span>分发卡券</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span>发代金券</span>
                        </div>
                    </a>

                    <a class="weui-cell weui-cell_access" href="/wx/card/listCardApply" th:if="${account.type eq '5' || account.type eq '10'|| account.type eq '2'}">
                        <div class="weui-cell__hd"><i class="list-icon fa fa-magnet"></i></div>
                        <div class="weui-cell__bd">
                            <span>卡券申请</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span>查看记录</span>
                        </div>
                    </a>

                    <a class="weui-cell weui-cell_access card-shop-href" href="javascript:void(0)" th:if="${account.type eq '5' || account.type eq '10'}">
                        <div class="weui-cell__hd"><i class="list-icon fa fa-cube"></i></div>
                        <div class="weui-cell__bd">
                            <span>送卡到店</span>
                        </div>
                        <div class="weui-cell__ft">
                            <span>点击操作</span>
                        </div>
                    </a>
                </div>

                <div th:replace="weixin/index/index-footer :: content" th:remove="tag"></div>

            </div>
        </div>
    </div>
</div>
</body>
</html>