<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>文章列表</title>
		<link type="text/css" rel="stylesheet" href="/back-admin/bus/admin-account.css"/>
		<script type="text/javascript">
			$(function() {
				$(".delete-obj-href").deleteFun();
			});
		</script>
		<script type="text/javascript" src="/back-admin/bus/admin-article-list.js"></script>
	</head>
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="header lighter smaller blue">
			<h3><span class="glyphicon glyphicon-th-list"></span>&nbsp;文章列表（<span th:text="${datas.getTotalElements()}"></span>）</h3>
			<div th:replace="admin/article/nav :: content" th:remove="tag"></div>
		</div>

		<div th:replace="admin/article/filter :: content" th:remove="tag"></div>

		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>图片</th>
						<th>序号</th>
						<th>标题</th>
						<th>导读</th>
						<th>推送</th>
						<th>状态</th>
						<th>外链</th>
						<th>操作</th>
					</tr>
				</thead>

				<tr th:each="obj : ${datas}">
					<td>
						<a th:href="${obj.picPath}" target="_blank"><img th:src="${obj.picPath}" style="width:60px;border-radius:5px;"/></a>
					</td>
					<td th:text="${obj.orderNo}"></td>
					<td th:text="${obj.title}"></td>
					<td th:text="${obj.guide}"></td>
					<td th:text="${obj.isFirst eq 1 ? '是':'否'}"></td>
					<td th:text="${obj.status eq '1' ? '显示':'隐藏'}"></td>
					<td>
						<p th:if="${obj.isOutside eq '1'}">
							<b>外部链接</b>
							<p th:text="${obj.outsideUrl}"></p>
						</p>
						<p th:if="${obj.isOutside ne '1'}">非外链</p>
					</td>
					<td>
						<div class="action-buttons">
							<a class="sendHref set-type-div" href="javascript:void(0)" th:attr="objId=${obj.id}">推送给
								<ul class="type-ul" th:attr="articleId=${obj.id}">
									<li val="-1">推送给所有人</li>
									<li val="0">推送给顾客</li>
									<li val="1">推送给店员</li>
									<li val="2">推送给经理</li>
									<li val="5">推送给股东</li>
									<li val="10">推送给管理员</li>
								</ul>
							</a>
							<a class="green auth" sn="AdminArticleController.update" title="修改" th:href="'/admin/article/update/'+${obj.id}">
								<i class="fa fa-pencil"></i>
							</a>

							<a th:if="${obj.id ne 1 and obj.id ne 2 and obj.id ne 3}" class="delete-obj-href red auth" sn="AdminArticleController.delete" th:title="'此操作不可逆，确定删除【'+${obj.title}+'】吗？'" th:href="'/admin/article/delete/'+${obj.id}">
								<i class="fa fa-remove"></i>
							</a>
						</div>
					</td>
				</tr>
			</table>

			<div th:include="fragments/page :: pager" th:remove="tag"></div>
		</div>
	</div>
</body>
</html>
