<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content" th:remove="tag">
            <div id="sys_filter" class="form-inline" style="padding-bottom:10px;">
                <div class="input-group">
                    <span class="input-group-addon">昵称</span>
                    <input type='text' style="width:140px;" class='filter_element form-control' opt="like" name='filter_nickname'/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">邀请人</span>
                    <input type='text' style="width:140px;" class='filter_element form-control' opt="like" name='filter_followUserName'/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">类型</span>
                    <select class='filter_element form-control' opt="eq" name='filter_type'>
                        <option value="">=全部=</option>
                        <option value="0">顾客</option>
                        <option value="1">员工</option>
                        <option value="2">经理</option>
                        <option value="5">股东</option>
                        <option value="10">管理员</option>
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">绑定</span>
                    <select class='filter_element form-control' opt="eq" name='filter_bindPhone'>
                        <option value="">=全部=</option>
                        <option value="1">已绑定手机</option>
                        <option value="0">未绑定手机</option>
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">电话</span>
                    <input type='text' style="width:140px;" class='filter_element form-control' opt="like" name='filter_phone'/>
                </div>

                <span><button type="button" class="btn btn-primary btn-sm" id="beginFilter">查询</button></span>
            </div>
        </div>
    </body>
</html>
