<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>会员等级列表</title>
		<script type="text/javascript">
			$(function() {
				$(".delete-obj-href").deleteFun();
			});
		</script>
	</head>
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="header lighter smaller blue">
			<h3><span class="glyphicon glyphicon-th-list"></span>&nbsp;会员等级列表（<span th:text="${datas.getTotalElements()}"></span>）</h3>
			<div th:replace="admin/memberLevel/nav :: content" th:remove="tag"></div>
		</div>

		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>等级</th>
						<th>名称</th>
						<!--<th>折扣</th>-->
						<th>充值</th>
						<th>赠送</th>
						<th>操作</th>
						<th>操作</th>
					</tr>
				</thead>

				<tr th:each="obj : ${datas}">
					<td th:text="${obj.level}"></td>
					<td th:text="${obj.name}"></td>
					<!--<td th:text="${obj.discount}+' %'"></td>-->
					<td th:text="${obj.chargeMoney}+' 元'"></td>
					<td th:text="${obj.giveMoney}+' 元'"></td>
					<td th:text="${obj.status eq '1'?'启用':'停用'}"></td>
					<td>
						<div class="action-buttons">
							<a class="green auth" sn="AdminMemberLevelController.update" title="修改" th:href="'/admin/memberLevel/update/'+${obj.id}">
								<i class="fa fa-pencil"></i>
							</a>
						</div>
					</td>
				</tr>
			</table>

			<div th:include="fragments/page :: pager" th:remove="tag"></div>
		</div>
	</div>
</body>
</html>