<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<script type="text/javascript" src="/basic/validate/bootstrapValidator.js"></script>
		<script type="text/javascript" src="/back-admin/bus/finance-personal.js"></script>

		<title>添加财务人员</title>
	</head>
	<body>
		<div th:fragment="content" th:remove="tag">
			<div class="header lighter smaller blue">
				<h3><i class="fa fa-plus"></i>&nbsp;添加财务人员 </h3>
				<div th:replace="admin/finance/financePersonal/nav :: content" th:remove="tag"></div>
			</div>

			<form method="POST" th:object="${financePersonal}" onsubmit="return checkData()" id="dataForm" >
				<input type="hidden" name="storeName"/>
				<!--<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">店铺：</div>
						<div class="form-control">
							<span><input type="radio" name="storeSn" value="" id="sn_0" th:checked="${financePersonal.storeSn == '' || financePersonal.storeSn == null}?'checked'"/><label for="sn_0">不指定</label></span>
							<span th:each="store:${storeList}"><input type="radio" name="storeSn" th:value="${store.sn}" th:id="|sn_${store.sn}|" th:checked="${financePersonal.storeSn == store.sn}?'checked'"/><label th:for="|sn_${store.sn}|" th:text="${store.name}">报账人员</label></span>
						</div>
					</div>
				</div>-->

				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">店铺</div>
						<div class="form-control store-list-div">
							<span th:each="store: ${storeList}"><input type="checkbox" name="singleStore" th:value="${store.sn}" th:id="'store_'+${store.id}"/><label th:for="'store_'+${store.id}" th:text="${store.name}">汉丽轩</label>&nbsp;&nbsp;&nbsp;</span>
							<input name="storeSns" type="hidden"/>
						</div>
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">姓名：</div>
						<input name="name" type="text" class="form-control" th:value="${financePersonal.name}" placeholder="请输入姓名" />
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">电话：</div>
						<input name="phone" type="text" class="form-control" th:value="${financePersonal.phone}" placeholder="请输入电话" />
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">类别：</div>
						<div class="form-control">
							<input type="radio" name="type" value="0" id="type_0" th:checked="${financePersonal.type == '0'}?'checked'"/><label for="type_0">不设置</label>
							<input type="radio" name="type" value="1" id="type_1" th:checked="${financePersonal.type == '1'}?'checked'"/><label for="type_1">报账人员</label>
							<input type="radio" name="type" value="2" id="type_2" th:checked="${financePersonal.type == '2'}?'checked'"/><label for="type_2">审核人员</label>
							<input type="radio" name="type" value="3" id="type_3" th:checked="${financePersonal.type == '3'}?'checked'"/><label for="type_3">财务人员</label>
						</div>
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">收货：</div>
						<div class="form-control">
							<input type="radio" name="markFlag" value="0" id="markFlag_0" th:checked="${financePersonal.markFlag == '0'}?'checked'"/><label for="markFlag_0">非签收人员</label>
							<input type="radio" name="markFlag" value="1" id="markFlag_1" th:checked="${financePersonal.markFlag == '1'}?'checked'"/><label for="markFlag_1">签收人员</label>
						</div>
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">股东：</div>
						<div class="form-control">
							<input type="radio" name="isPartner" value="0" id="isPartner_0" th:checked="${financePersonal.isPartner == '0'}?'checked'"/><label for="isPartner_0">不是股东人员</label>
							<input type="radio" name="isPartner" value="1" id="isPartner_1" th:checked="${financePersonal.isPartner == '1'}?'checked'"/><label for="isPartner_1">是股东人员</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">股东店铺</div>
						<div class="form-control store-list-div">
							<span th:each="store: ${storeList}"><input type="checkbox" name="partStore" th:value="${store.sn}" th:id="'psn_'+${store.id}"/><label th:for="'psn_'+${store.id}" th:text="${store.name}">汉丽轩</label>&nbsp;&nbsp;&nbsp;</span>
							<input name="partStores" type="hidden"/>
						</div>
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">收银登记：</div>
						<div class="form-control">
							<input type="radio" name="isCasher" value="0" id="isCasher_0" th:checked="${financePersonal.isCasher == '0'}?'checked'"/><label for="isCasher_0">不可登记收入</label>
							<input type="radio" name="isCasher" value="1" id="isCasher_1" th:checked="${financePersonal.isCasher == '1'}?'checked'"/><label for="isCasher_1">可登记收入</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">收银店铺</div>
						<div class="form-control store-list-div">
							<span th:each="store: ${storeList}"><input type="checkbox" name="cashStore" th:value="${store.sn}" th:id="'csn_'+${store.id}"/><label th:for="'csn_'+${store.id}" th:text="${store.name}">汉丽轩</label>&nbsp;&nbsp;&nbsp;</span>
							<input name="cashStores" type="hidden" th:value="${financePersonal.cashStores}"/>
						</div>
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">用户：</div>
						<input name="keyword" type="text" class="form-control" placeholder="输入昵称或电话后点查询按钮" />
						<span class="input-group-addon search-btn" style="cursor:pointer;">查询用户</span>
					</div>
					<div class="show-account"></div>
				</div>


				<input type="hidden" name="accountId"/>
				<input type="hidden" name="nickname"/>
				<input type="hidden" name="openid"/>

				<input type="hidden" name="token" th:value="${session.token}"/>
				<button type="submit" class="btn btn-primary">确定提交</button>
			</form>
		</div>
	</body>
</html>