<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>财务人员列表</title>
		<script type="text/javascript">
			$(function() {
				$(".delete-obj-href").deleteFun();
			});
		</script>
	</head>
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="header lighter smaller blue">
			<h3><span class="glyphicon glyphicon-th-list"></span>&nbsp;财务人员列表（<span th:text="${datas.getTotalElements()}"></span>）</h3>
			<div th:replace="admin/finance/financePersonal/nav :: content" th:remove="tag"></div>
		</div>

		<div th:replace="admin/finance/financePersonal/filter :: content" th:remove="tag"></div>

		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>店铺</th>
						<th>姓名</th>
						<th>姓名</th>
						<th>电话</th>
						<th>昵称</th>
						<th>类别</th>
						<th>股东</th>
						<th>收银</th>
						<th>收货员</th>
						<th>操作</th>
					</tr>
				</thead>

				<tr th:each="obj : ${datas}">
					<td>
						<span th:if="${obj.storeSn eq null or obj.storeSn eq ''}" class="red">未设置</span>
						<span th:if="${obj.storeSn ne null and obj.storeSn ne ''}" th:text="${obj.storeName}"></span>
					</td>
					<td>
						<img th:if="${obj.signPath ne null && obj.signPath ne ''}" th:src="${obj.signPath}" style="width: 100px"/>
						<span th:unless="${obj.signPath ne null && obj.signPath ne ''}" th:src="obj.signPath">未设置签名</span>
					</td>
					<td th:text="${obj.name}"></td>
					<td th:text="${obj.phone}"></td>
					<td th:text="${obj.nickname}"></td>
					<td>
						<span th:switch="${obj.type}">
							<span th:case="0">签收人员</span>
							<span th:case="1">报账人员</span>
							<b th:case="2" class="red">审核人员</b>
							<b th:case="3" class="blue">财务人员</b>
						</span>
					</td>
					<td>
						<span th:switch="${obj.isPartner}">
							<b th:case="0" class="red">非股东</b>
							<b th:case="1" class="blue">股东（<b th:text="${obj.partStores}"></b>）</b>
						</span>
					</td>
					<td>
						<span th:switch="${obj.isCasher}">
							<b th:case="0" class="red">非收银</b>
							<b th:case="1" class="blue">收银（<b th:text="${obj.cashStores}"></b>）</b>
						</span>
					</td>
					<td>
						<span th:switch="${obj.markFlag}">
							<b th:case="0" class="red">否</b>
							<b th:case="1" class="blue">是</b>
						</span>
					</td>
					<td>
						<div class="action-buttons">
							<a class="green auth" sn="AdminFinancePersonalController.update" title="修改" th:href="'/admin/financePersonal/update/'+${obj.id}">
								<i class="fa fa-pencil"></i>
							</a>

							<a class="delete-obj-href red auth" sn="AdminFinancePersonalController.delete" th:title="'此操作不可逆，确定删除【'+${obj.name}+'】吗？'" th:href="'/admin/financePersonal/delete/'+${obj.id}">
								<i class="fa fa-remove"></i>
							</a>
						</div>
					</td>
				</tr>
			</table>

			<div th:include="fragments/page :: pager" th:remove="tag"></div>
		</div>
	</div>
</body>
</html>