<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/weixinModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>报账列表</title>
    <link type="text/css" rel="stylesheet" href="/weixin/weixin-finance.css"/>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div  th:if="${datas ne null}">
        <div class="header lighter smaller blue">
            <h3> &nbsp;&nbsp;<i class="fa fa-list"></i>&nbsp;报账列表（<b th:text="${datas.totalElements}"></b>）</h3>
        </div>

        <div class="weui-cells fin-main-box">
            <div th:if="${datas.totalElements le 0}">
                <h2 style="width:100%; text-align:center; color:#F00;">暂无数据</h2>
            </div>
            <div th:each="obj : ${datas}" th:remove="tag">
                <div class="fin-list">
                    <div class="fin-title">
                        <span th:text="${obj.storeName}"></span>[<span class="fin-dark" th:text="${obj.cateName}"></span>]<span class="fin-dark" th:text="${obj.title}"></span>
                    </div>
                    <div class="fin-body">
                        <p>金额：￥<b th:text="${obj.price}"></b>*<b th:text="${obj.amount}"></b>=￥<b th:text="${obj.totalMoney}"></b></p>
                        <p>审核：
                            <span th:switch="${obj.status}" th:remove="tag">
                                <b th:case="0">未提交审核</b>
                                <b th:case="-1" style="color:#820">已取消</b>
                                <b th:case="1" style="color:#ed7800">待审核</b>
                                <span th:case="2" style="color:#00F"><b th:text="${obj.verifyName}"></b>于<span class="fin-dark" th:text="${obj.verifyDay}"></span>审核通过</span>
                                <span th:case="3" style="color:#F00">被<b th:text="${obj.verifyName}"></b>驳回(<span class="fin-dark" th:text="${obj.verifyReason}"></span>)</span>
                            </span>
                        </p>
                        <p>收货：
                            <span th:switch="${obj.confirmStatus}" th:remove="tag">
                                <b th:case="0">未指定收货</b>
                                <span th:case="1" style="color:#ed7800">等待[<b th:text="${obj.confirmName}"></b>]确认收货</span>
                                <span th:case="2" style="color:#00F"><b th:text="${obj.confirmName}"></b>于<span class="fin-dark" th:text="${obj.confirmDay}"></span>确认收货</span>
                                <span th:case="3" style="color:#F00"><b th:text="${obj.confirmName}"></b>确认未收货(<span class="fin-dark" th:text="${obj.confirmReason}"></span>)</span>
                            </span>
                        </p>
                        <p>财务：
                            <span th:switch="${obj.voucherStatus}" th:remove="tag">
                                <b th:case="0">-</b>
                                <b th:case="1" style="color:#ed7800">等待查阅</b>
                                <span th:case="2" style="color:#00F"><b th:text="${obj.voucherName}"></b>于<span class="fin-dark" th:text="${obj.voucherDay}"></span>查阅合格</span>
                                <span th:case="3" style="color:#F00"><b th:text="${obj.voucherName}"></b>查阅不合格(<span class="fin-dark" th:text="${obj.voucherReason}"></span>)</span>
                            </span>
                        </p>
                    </div>
                    <div class="fin-footer">
                        <div class="fin-footer-left">
                            <b th:text="${obj.username}"></b>申请于<span th:text="${obj.createDay}"></span>
                        </div>
                        <div class="fin-footer-right"><a class="btn btn-link" th:href="'/wx/finance/show?id='+${obj.id}">详情</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div th:include="fragments/page-wx :: pager" style="margin:10px 10px 10px 0px;float:right;"></div>
    </div>
    <div th:if="${datas eq null}">
        <h4 class="align-center">无权限访问！</h4>
    </div>
    <div th:each="arg : ${args}" class="search-filter-div">
        <input th:value="${arg.value}" type="hidden" th:attr="targetId=${arg.key}"/>
    </div>
</div>
</body>
</html>