<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/weixinModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>报账详情</title>

    <link rel="stylesheet" href="/weixin/bootstrap-icons-1.5.0/bootstrap-icons.css" crossorigin="anonymous">
    <link href="/js-lib/fileupload/css/fileinput.css" media="all" rel="stylesheet" type="text/css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/weixin/fontawesome-free-5.15.4-web/css/all.min.css" />
    <script src="/js-lib/fileupload/js/plugins/piexif.js" type="text/javascript"></script>
    <script src="/js-lib/fileupload/js/plugins/sortable.js" type="text/javascript"></script>
    <script src="/js-lib/fileupload/js/fileinput.min.js" type="text/javascript"></script>
    <script src="/js-lib/fileupload/js/locales/zh.js" type="text/javascript"></script>

    <script src="/js/jedate/jquery.jedate.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/js/jedate/skin/jedate.css"/>
    <script type="text/javascript" src="/back-admin/bus/my-date.js"></script>

    <script type="text/javascript" src="/weixin/weui-1.1.1/weui.min.js"></script>
    <script type="text/javascript" src="/weixin/weixin-finance-show.js"></script>
    <script type="text/javascript" src="/weixin/weixin-finance.js"></script>
    <script type="text/javascript">
        $(function() {
            $(".target-day").jeDate({
                isinitVal:true, //初始化日期
                festival: true, //显示农历
                isClear:false,
                maxDate: curDate(),
                //        skinCell:'jedatered',
                format: 'YYYYMMDD'
            });
        })
    </script>
    <style>
        .clearfix {
            display: none;
        }
        .file-caption {
            float: left;
        }
        #show-img-div {
            position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background:#000; z-index: 888;
            padding: 10px; overflow: auto;
            display: none;
        }
        .delete-btn {
            position: fixed; bottom: 10px; left: 50%; margin-left: -20px; z-index: 999; color:#FFF; font-size: 20px;
            border-radius: 30px; background:#d20; width: 40px; height: 40px; text-align: center; line-height: 40px;
        }
    </style>

</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div id="show-img-div"><span class="img-span"></span></div>
    <input type="hidden" name="checkSign" value="1"/>
    <input th:value="|${personal.signPath}?r=${#numbers.formatDecimal(T(java.lang.Math).random()*10000,1,0)}|" name="signPath" type="hidden"/>
    <div class="container" style="padding-bottom: 20px;">
        <div class="header lighter smaller blue">
            <h3><i class="fa fa-plus"></i>&nbsp;报账申请-详情</h3>
        </div>
        <input th:value="${detail.id}" type="hidden" name="detailId"/>
        <input th:value="${detail.title}" type="hidden" name="detailTitle"/>
        <input th:value="${detail.storeName}" type="hidden" name="storeName"/>

        <div style="margin-bottom: 20px;">
            <div th:if="${(detail.status eq '0' or detail.status eq '3') and detail.userOpenid eq openid}" class="alert alert-danger">请认真上传凭证信息，照片需要【竖直拍摄】！</div>

            <div class="weui-form-preview">
                <div class="weui-form-preview__hd">
                    <label class="weui-form-preview__label">账单总额</label>
                    <em class="weui-form-preview__value">¥<span th:remove="tag" th:text="${detail.totalMoney}"></span></em>
                </div>
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">申报人员</label>
                        <span class="weui-form-preview__value" th:text="${detail.username}">名字名字名字</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">所属店铺</label>
                        <span class="weui-form-preview__value" th:text="${detail.storeName}">名字名字名字</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">账目类别</label>
                        <span class="weui-form-preview__value" th:text="${detail.cateName}">名字名字名字</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">账目名称</label>
                        <span class="weui-form-preview__value" th:text="${detail.title}" style="color:#F60"></span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">单价</label>
                        <span class="weui-form-preview__value" th:text="${detail.price} + ' 元'"></span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">数量</label>
                        <span class="weui-form-preview__value" th:text="${detail.amount}"></span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">申报时间</label>
                        <span class="weui-form-preview__value" th:text="${detail.createTime}"></span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">所属日期</label>
                        <span class="weui-form-preview__value" >
                            <span th:if="${personal.type eq '2'}">
                                <b class="btn btn-info modify-day" th:attr="objId=${detail.id},targetDay=${detail.targetDay}"><i class="fa fa-edit"></i><b th:text="${detail.targetDay}"></b></b>
                            </span>
                            <span th:unless="${personal.type eq '2'}" th:remove="tag" th:text="${detail.targetDay}"></span>
                        </span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">审核状态</label>
                        <span class="weui-form-preview__value">
                            <span th:switch="${detail.status}">
                                <b th:case="0" class="">待提交审核</b>
                                <b th:case="-1" class="" style="color:#F00">已取消</b>
                                <b th:case="1" class="" style="color:#820">审核中...</b>
                                <b th:case="2" class="blue" style="color:#00F">【<span th:text="${detail.verifyName}"></span>】审核通过</b>
                                <b th:case="3" class="red" style="color:#F00">[<span th:text="${detail.verifyName}"></span>]驳回【<span th:text="${detail.verifyReason}"></span>】</b>
                            </span>
                        </span>
                    </div>

                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">收货情况</label>
                        <span class="weui-form-preview__value">
                            <span th:switch="${detail.confirmStatus}">
                                <b th:case="0" class="">未指定</b>
                                <b th:case="1" class="" style="color:#820">指定[<b th:text="${detail.confirmName}"></b>]</b>
                                <b th:case="2" class="blue" style="color:#00F">[<i th:text="${detail.confirmName}"></i>]已收货<i th:text="${detail.confirmDay}"></i></b>
                                <b th:case="3" class="red" style="color:#F00">[<i th:text="${detail.confirmName}"></i>]确认未收货【<span th:text="${detail.confirmReason}"></span>】</b>
                            </span>
                        </span>
                    </div>

                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">财务情况</label>
                        <span class="weui-form-preview__value">
                            <span th:switch="${detail.voucherStatus}">
                                <b th:case="0" class="">未到财务检查阶段</b>
                                <b th:case="1" class="" style="color:#820">待审核</b>
                                <b th:case="2" class="blue" style="color:#00F">[<b th:text="${detail.voucherName}"></b>]<span th:text="${detail.voucherDay}"></span>审查<br/>【<span th:text="${detail.voucherReason}"></span>】已存档</b>
                                <b th:case="3" class="red" style="color:#F00">[<b th:text="${detail.voucherName}"></b>]<span th:text="${detail.voucherDay}"></span>审查<br/>驳回【<span th:text="${detail.voucherReason}"></span>】</b>
                            </span>
                        </span>
                    </div>

                    <!--<div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">申报时间</label>
                        <span class="weui-form-preview__value" th:text="${detail.createTime}"></span>
                    </div>
                    <div class="weui-form-preview__item" th:if="${detail.status eq '2'}">
                        <label class="weui-form-preview__label">审核结果</label>
                        <span class="weui-form-preview__value" style="color:#00F">审核通过</span>
                    </div>
                    <div class="weui-form-preview__item" th:if="${detail.status eq '3'}">
                        <label class="weui-form-preview__label">审核结果</label>
                        <span class="weui-form-preview__value" style="color:#F00">[驳回]<span th:text="${detail.verifyReason}"></span></span>
                    </div>-->

                    <!--<div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">上传凭证</label>
                        <span class="weui-form-preview__value">
                        <span class="weui-uploader__input-box">
                            <input class="weui-uploader__input uploader-btn" type="file" accept="image/*"/>
                        </span>
                        </span>
                    </div>-->
                </div>
                <!-- 只有0或3才能上传凭证；即申请或驳回状态 -->
                <div >
                    <div class="weui-uploader__bd" style="padding-bottom: 12px;">
                        <ul class="weui-uploader__files">
                            <!-- 显示凭证 -->
                            <li class="weui-uploader__file single-voucher" th:attr="status=${detail.status}, isOwn=${(detail.userOpenid eq openid) or personal.type eq '2'}, voucherStatus=${detail.voucherStatus}, path=${voucher.picPath}, voucherId=${voucher.id}" th:each="voucher: ${voucherList}" th:style="'background-image: url('+${voucher.picPath}+');'"></li>
                        </ul>
                        <!-- 如果财务没有审核通过，都可以上传凭证 -->
                        <div class="weui-uploader__input-box1" style="width: 100%; " th:if="${personal.type eq '2' or ((detail.status eq '0' or detail.status eq '3' or detail.voucherStatus ne '2') and detail.userOpenid eq openid)}">
                            <!--<input class="weui-uploader__input uploader-btn" multiple="multiple" type="file" accept="image/*"/>-->

                            <input id="file-upload1" class="file" type="file" multiple="multiple"/>

                            <script type="text/javascript">
                                //alert("-------");
                                $("#file-upload1").fileinput({
                                    theme: 'zh',
                                    language: "zh",
                                    uploadUrl: '/wx/finance/uploadByNew', // you must set a valid URL here else you will get an error
                                    allowedFileExtensions: ['jpg', 'png', 'gif'],
                                    overwriteInitial: false,
                                    enctype: 'multipart/form-data',
                                    showPreview: false,
                                    showUpload: false, //是否显示上传按钮
                                    showRemove : false, //显示移除按钮
                                    showPreview : false, //是否显示预览

                                    //maxFileSize: 1000,
                                    //maxFilesNum: 2,
                                    allowedFileTypes: ['image'],
                                    uploadExtraData : function() {// 向后台传递参数
                                        var detailId = $("input[name='detailId']").val();
                                        var detailTitle = $("input[name='detailTitle']").val();
                                        var storeName = $("input[name='storeName']").val();
                                        //var objId = $("#activity_id").val();
                                        var data = {
                                            objId :detailId,
                                            title: storeName+"："+detailTitle
                                        };
                                        return data;
                                    },
                                    slugCallback: function (filename) {
                                        //console.log("=======", filename);
                                        return filename.replace('(', '_').replace(']', '_');
                                    }
                                });

                                $(function() {
                                    //异步上传返回结果处理
                                    $("#file-upload1").on("fileuploaded", function (event, data, previewId, index) {

                                        //console.log("========================111111")
                                        //console.log(event)
                                        //console.log(data)
                                        //console.log(previewId)
                                        //console.log(index)
                                        //console.log("========================111111")
                                        var response = data.response;
                                        //alert(response.filePath);
                                        $("#fileMd5").val(response.fileMd5);
                                        $("#version").val(response.newVersionName);
                                        $("#url").val(response.filePath);

                                    });

                                    //上传前
                                    $('#file-upload1').on('filepreupload', function(event, data, previewId, index) {

                                        //console.log("========================222222222")
                                        //console.log(event)
                                        console.log(data)
                                        //console.log(previewId)
                                        console.log(index)
                                        //console.log("========================222222222")

                                       var form = data.form, files = data.files, extra = data.extra,
                                       response = data.response, reader = data.reader;
                                    });

                                    //选择后立即上传
                                    $('#file-upload1').on('filebatchselected', function(event, files) {
                                        $('#file-upload1').fileinput('upload');//上传操作
                                    });

                                    //批量上传完成
                                    $('#file-upload1').on('filebatchuploadcomplete', function(event, files) {
                                        //$('#file-upload1').fileinput('upload');//上传操作
                                        alert("全部上传完成"); window.location.reload();
                                    });
                                })
                            </script>
                        </div>
                    </div>
                    <div class="alert alert-warning upload-remind-div" style="display: none;">正在上传，请耐心等待...</div>

                    <!--<input id="file-upload" class="file" type="file" multiple="multiple" />-->
                </div>

                <!-- 报账人自己操作 -->
                <div class="weui-form-preview__ft" th:if="${(detail.status eq '0' or detail.status eq '3' or detail.confirmStatus eq '3' or detail.voucherStatus eq '3') and detail.userOpenid eq openid}">
                    <a class="weui-form-preview__btn weui-form-preview__btn_default cancel-btn" href="javascript:;">取消报账</a>
                    <a class="weui-form-preview__btn weui-form-preview__btn_default" th:href="|/wx/finance/update?id=${detail.id}|">修改</a>
                    <a href="javascript:;" class="weui-form-preview__btn weui-form-preview__btn_primary submit-apply-btn">提交审核</a>
                </div>

                <!-- 老板审核，报账人员完成信息登记后，提交给老板审核 -->
                <div class="weui-form-preview__ft" th:if="${personal.type eq '2' and detail.status eq '1'}">
                    <a class="weui-form-preview__btn weui-form-preview__btn_default reject-btn" href="javascript:;">驳回申请</a>
                    <a href="javascript:;" class="weui-form-preview__btn weui-form-preview__btn_primary pass-verify-btn">通过审核</a>
                </div>

                <!-- 指定收货人员，老板审核通过 -->
                <div class="weui-form-preview__ft" th:if="${detail.status eq '2' and (detail.confirmStatus eq '0' or detail.confirmStatus eq '1') and detail.userOpenid eq openid}">
                    <a href="javascript:;" class="weui-form-preview__btn weui-form-preview__btn_primary choice-personal-btn">
                        <span th:text="${(detail.confirmName eq '' or detail.confirmName eq null)?'指定收货人员':'重新指定收货人员'}"></span>
                    </a>
                </div>

                <!-- 收货确认，老板审核通过后，即到确认收货阶段，status为2表示老板审核通过 -->
                <div class="weui-form-preview__ft" th:if="${personal.markFlag eq '1' and detail.status eq '2' and detail.confirmOpenid eq openid and detail.confirmStatus ne '2'}">
                    <a class="weui-form-preview__btn weui-form-preview__btn_default no-confirm-btn" href="javascript:;">未收到货</a>
                    <a href="javascript:;" class="weui-form-preview__btn weui-form-preview__btn_primary confirm-btn">确认收货</a>
                </div>

                <!-- 财务审核，确认收货后，才到财务审核，confirmStatus为2表示已确认收货 -->
                <div class="weui-form-preview__ft" th:if="${personal.type eq '3' and detail.confirmStatus eq '2' and(detail.voucherStatus eq '1' or detail.voucherStatus eq '3')}">
                    <a class="weui-form-preview__btn weui-form-preview__btn_default voucher-btn" href="javascript:;">凭证不全</a>
                    <a href="javascript:;" class="weui-form-preview__btn weui-form-preview__btn_primary voucher-ok-btn">报账存档</a>
                </div>

                <!--<div class="weui-form-preview__ft" th:if="${personal.type eq '2' and detail.userOpenid eq openid and detail.status eq '1'}">
                    <span class="weui-form-preview__btn weui-form-preview__btn_default" style="color:#F00">不能审核自己的申请，请联系他人审核</span>
                </div>-->
            </div>

        </div>
        <span style="padding: 5px 15px; border-radius: 5px; background:#eee; color:#666; margin-bottom: 20px;" onclick="javascript: history.back(-1)">返回</span>
    </div>
</div>
</body>
</html>
