<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="ace-settings-container" id="ace-settings-container">
                <ul class="pagination">
                    <li><a class="auth" sn="AdminGamePrizeController.list" href="/admin/gamePrize/list"><span class="glyphicon glyphicon-th-list"></span> 游戏中奖名单列表</a></li>
                    <li><a class="auth" sn="AdminGamePrizeController.add" href="/admin/gamePrize/add"><span class="fa fa-plus"></span> 添加游戏中奖名单</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
