<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<script type="text/javascript" src="/basic/validate/bootstrapValidator.js"></script>
		<script type="text/javascript" src="/back-admin/bus/admin-worker.js"></script>
		<script type="text/javascript" src="/back-admin/bus/admin-select-store.js"></script>
		<title>添加员工信息</title>
	</head>
	<body>
		<div th:fragment="content" th:remove="tag">
			<div class="header lighter smaller blue">
				<h3><i class="fa fa-plus"></i>&nbsp;添加员工信息</h3>
				<div th:replace="admin/worker/nav :: content" th:remove="tag"></div>
			</div>
			<form method="POST" th:object="${worker}" id="dataForm" onsubmit="return checkStoreData()" enctype="multipart/form-data">
				<input name="storeName" type="hidden"/>
				<input name="storeSn" type="hidden"/>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">所属店铺：</div>
						<select name="storeId" class="form-control store-select">
							<option value="-1">选择所属店铺</option>
							<option th:each="store:${storeList}" th:attr="sn=${store.sn}" th:value="${store.id}" th:text="${store.name}"></option>
						</select>
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">姓名：</div>
						<input name="name" id="name" type="text" class="form-control" th:value="${worker.name}" placeholder="请输入员工姓名" />
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">电话：</div>
						<input name="phone" id="phone" type="text" class="form-control" th:value="${worker.phone}" placeholder="请输入员工手机号码" />
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">身份证号：</div>
						<input name="identity" id="identity" type="text" class="form-control" th:value="${worker.identity}" placeholder="请输入员工身份证号" />
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">头像：</div>
						<input name="file" type="file" class="form-control" />
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group input-group-lg">
						<div class="input-group-addon">部门：</div>
						<div class="form-control">
							<input type="radio" name="depId" value="1" id="dep_1" th:checked="${worker.depId == 1}?'checked'"/><label for="dep_1">前厅</label>
							<input type="radio" name="depId" value="2" id="dep_2" th:checked="${worker.depId == 2}?'checked'"/><label for="dep_2">后厨</label>
						</div>
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group input-group-lg">
						<div class="input-group-addon">收银员：</div>
						<div class="form-control">
							<input type="radio" name="isCashier" value="1" id="cash_1" th:checked="${worker.isCashier == '1'}?'checked'"/><label for="cash_1">收银员</label>
							<input type="radio" name="isCashier" value="0" id="cash_0" th:checked="${worker.isCashier == '0'}?'checked'"/><label for="cash_0">非收银员</label>
						</div>
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group input-group-lg">
						<div class="input-group-addon">仓管职能：</div>
						<div class="form-control">
							<input type="checkbox" name="duty" value="1" id="duty_1" /><label for="duty_1">采购员</label>
							<input type="checkbox" name="duty" value="2" id="duty_2" /><label for="duty_2">出库员</label>
							<input type="checkbox" name="duty" value="3" id="duty_3" /><label for="duty_3">入库员</label>
							<input type="checkbox" name="duty" value="4" id="duty_4" /><label for="duty_4">审核员</label>
							<input type="checkbox" name="duty" value="10" id="duty_10" /><label for="duty_10">管理员</label>
							<input name="operator" th:value="${worker.operator}" type="hidden"/>
						</div>
					</div>
				</div>

				<input type="hidden" name="token" value="${session.token}"/>
				<button type="submit" class="btn btn-primary">确定提交</button>
			</form>

			<script type="text/javascript">
				jQuery(function($) {
					$('#dataForm').bootstrapValidator({
				        live: 'disabled',
						message: '验证不通过',
						feedbackIcons: {
							valid: 'glyphicon glyphicon-ok',
							invalid: 'glyphicon glyphicon-remove',
							validating: 'glyphicon glyphicon-refresh'
						},
						fields: {
							name: {
								validators: {
									notEmpty: {
										message: '请输入员工姓名'
									}
								}
							},
							phone: {
								validators: {
									notEmpty: {
										message: '请输入员工手机号码'
									}
								}
							},
							identity: {
								validators: {
									notEmpty: {
										message: '请输入员工手机身份证号'
									}
								}
							}
						}
					});
				});
			</script>
		</div>
	</body>
</html>
