<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>员工列表</title>
		<script type="text/javascript">
			$(function() {
				$(".delete-obj-href").deleteFun();
			});
		</script>
	</head>
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="header lighter smaller blue">
			<h3><span class="glyphicon glyphicon-th-list"></span>&nbsp;员工列表（<span th:text="${datas.getTotalElements()}"></span>）</h3>
			<div th:replace="admin/worker/nav :: content" th:remove="tag"></div>
		</div>

		<div th:replace="admin/worker/filter :: content" th:remove="tag"></div>

		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>头像</th>
						<th>姓名</th>
						<th>微信</th>
						<th>部门</th>
						<th>电话</th>
						<th>身份证号</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>

				<tr th:each="obj : ${datas}">
					<!--<td>
						<a th:if="${obj.headimgurl ne NULL and obj.headimgurl ne ''}" th:href="${obj.headimgurl}" target="_blank"><img th:src="${obj.headimgurl}" style="width:120px"/></a>
						<span th:if="${obj.openid eq NULL or obj.openid eq ''}" style="color:#F00;">未绑定微信</span>
					</td>-->
					<td>
						<a th:if="${obj.headPic ne NULL and obj.headPic ne ''}" th:href="${obj.headPic}" target="_blank"><img th:src="${obj.headPic}" style="width:120px"/></a>
					</td>
					<td>
						<p><a th:href="'/admin/worker/list?filter_storeId=eq-'+${obj.storeId}" th:text="${obj.storeName}"></a></p>
						<span th:text="${obj.name}" th:remove="tag"></span><span th:if="${obj.isCashier eq '1'}">（收银员）</span></td>
					<td>
						<span th:if="${obj.openid eq NULL or obj.openid eq ''}" style="color:#F00;">未绑定</span>
						<span th:if="${obj.openid ne NULL and obj.openid ne ''}">
							<a th:if="${obj.headimgurl ne NULL and obj.headimgurl ne ''}" th:href="${obj.headimgurl}" target="_blank"><img th:src="${obj.headimgurl}" style="width:120px"/></a>
						</span>
					</td>
					<td th:text="${obj.depId eq 1 ? '前厅':'后厨'}"></td>
					<td th:text="${obj.phone}"></td>
					<td th:text="${obj.identity}"></td>
					<td th:switch="${obj.status}">
						<span th:case="1" style="color:#00F">在职</span>
						<span th:case="2" style="color:#F00">离职</span>
					</td>
					<td>
						<div class="action-buttons">
							<a class="green auth" sn="AdminWorkerController.update" title="修改" th:href="'/admin/worker/update/'+${obj.id}">
								<i class="fa fa-pencil"></i>
							</a>

							<a class="delete-obj-href red auth" sn="AdminWorkerController.initPwd" th:title="'此操作不可逆，确定初始化【'+${obj.name}+'】的密码为【123456789】吗？'" th:href="'/admin/worker/initPwd/'+${obj.id}">
								<i class="fa fa-key"></i>
							</a>

							<a class="delete-obj-href red auth" sn="AdminWorkerController.delete" th:title="'此操作不可逆，确定删除【'+${obj.name}+'】吗？'" th:href="'/admin/worker/delete/'+${obj.id}">
								<i class="fa fa-remove"></i>
							</a>
						</div>
					</td>
				</tr>
			</table>

			<div th:include="fragments/page :: pager" th:remove="tag"></div>
		</div>
	</div>
</body>
</html>