<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="ace-settings-container" id="ace-settings-container">
                <ul class="pagination">
                    <li><a class="auth delete-obj-href" sn="AdminShopController.synch" href="/admin/shop/synch"><span class="glyphicon glyphicon-th-list"></span> 同步微信门店</a></li>
                    <li><a class="auth" sn="AdminShopController.list" href="/admin/shop/list"><span class="glyphicon glyphicon-th-list"></span> 微信门店列表</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
