#filter-div {
    background:#fafafa; border-left:1px solid #ddd; width:80%; height:100%; top:50px; right:0px; position:absolute; z-index:10; padding:10px; display:none;
}

#win-wrapper {
    width:100%; height:100%; top:50px; left:0px; right:0px; position:absolute; background:#000; z-index:2; opacity:0.3;display:none;
}

.warn-amount {
    color:#F00;
}