.operator-b {
    float: right; font-size:1.5em;
}
.single-location-div {
    background:#fafafa;
}
.red-class {
    color:#e10;
}

.apply-href {
    float:right;
}
.number {
    color:#00f;
}
.goods-list-div {
    display:none;
}