<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/adminModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>美团验证码</title>
    <script src="/js/jedate/jquery.jedate.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/js/jedate/skin/jedate.css"/>
    <script src="/admin/web-show-time.js"></script>
    <script src="/admin/bus/my-date.js"></script>
    <script src="/admin/bus/admin-cal.js"></script>
</head>
<body>
    <div th:fragment="content" th:remove="tag">
        <div class="container" style="background:#FFF; min-height:400px; height:100%; padding:15px;">
            <div class="header lighter smaller blue" style="color:#555; padding-bottom:10px;">
                <h4><span class="fa fa-tumblr"></span>&nbsp;美团验证码</h4>
            </div>

            <div class="input-group">
                <span class="input-group-addon">日期</span>
                <input type='text' style="width:140px;" th:value="${day}" class='filter_element form-control order-day' opt="eq" name='day'/>
                <span><button type="button" class="btn btn-primary btn-sm" id="beginFilter">查询</button></span>
            </div>

            <div class="row" style="padding-top:10px;" th:text="${nos}">
            </div>
        </div>
    </div>
</body>
</html>