.single-ticket-div {
    width:90%; height:auto; position:relative; background:#e86245; margin:5px 0px 5px 5%; padding:5px; color:#FFF;
     display: flex;
}
.single-ticket-div .dot-span {
    width:26px; height:26px; border-radius:26px; background:#FFF; position:absolute; top:37px; right:-13px;
}
.single-ticket-div .ticket-left {
    flex:1; border-right:1px #fff dotted; height:100%;
}
.single-ticket-div .ticket-right {
    width:58px; font-size:24px;  word-wrap: break-word; padding-left:5px; writing-mode:tb-rl; margin-right:10px; line-height:30px; padding-top:8px; padding-right:12px;
}


.single-ticket-div h4 {
    float:left; width:100%; text-align:center; font-size:36px; color:#fcec34;
}
.single-ticket-div p.remark {
    margin-top: 5px;
}
.single-ticket-div .remark-div {
    float: left; width: 90%; margin-left: 5%; background:#a34531; line-height:28px; text-align:center; border-radius:2px; color:#f9f2f0; margin-top:0px; margin-bottom: 10px;
}
.single-ticket-div .ticket-no {
    font-size: 20px; font-weight: bold;
}

.single-ticket-div .flag-span {
    position:absolute; left:5px; top:5px; font-size:12px;
}