.left-div {
    width:18%; background:#F3F3F3; height:100%; position:fixed; top:0px; left:0px;
}

.right-div {
    width:80%; overflow:auto; position:absolute; right:0px; top:0px;
}

ul.cate-ul {
    width:100%; height:100%;
}
ul.cate-ul li {
    height:16.6666%; border-bottom:1px #ddd solid; border-right:1px #ddd solid;
}


ul.cate-ul li a {
    text-decoration:none;
}
ul.cate-ul li a img {
    width:70%; margin-left:15%; border-radius:10px; margin-top:8px;
}
ul.cate-ul li a span {
    width:100%; text-align:center; color:#777; float:left; margin-top:3px;
}

ul.cate-ul li.curClass {
    background:#FFF; border-right:none;
}

ul.cate-ul li.curClass span {
    font-weight:bold;
}


ul.food-list {

}

ul.food-list li {
    width:100%; list-style:none; float:left; border-bottom:1px #e8e8e8 solid; margin-top:10px; padding-bottom:0px;
}

ul.food-list li a {
    text-decoration:none;
}

ul.food-list li a img {
    width:90%; border-radius:8px;
}

ul.food-list li div.pic-div {
    width:28%; float:left;
}
ul.food-list li div.name-div {
    width:40%; float:left;
}

ul.food-list li div.name-div a {
    font-size:18px; color:#373838; font-family: "Microsoft YaHei" !important;font-family: '微软雅黑';  float:left; width:100%;
}

ul.food-list li div.name-div p.remark {
    padding-top:4px; color:#9c9c9c; float:left; width:100%;
}
ul.food-list li div.name-div p.money {
    color:#ff425d; float:left; width:100%; margin-top:-4px;
}

.count-b {
    font-size:16px; padding:0px 2px;
    color:#ff425d;
}

.normal-b {
padding:0px 2px;
}


ul.food-list li div.opt-div {
    width:32%; float:left; text-align:right; padding-right:10px;
}

ul.food-list li div.opt-div .btn {
    margin-top:8px;
}
