.category-div {
    position: relative;
}
.show-category {
    position: absolute; z-index:9999; background:#f8f8f8; width:100%; top: 34px; padding:5px; border:1px #e0e0e0 solid; display: none;
}
.all-category {
    display: none;
}




.fin-main-box {
    padding: 6px;
}
.fin-list {
    width: 100%; border:1px #eee solid; border-left: 5px #ce4844 solid; padding: 6px; border-radius: 4px; margin:6px 0px;
}
.fin-title {
    border-bottom: 1px #eee solid;
}
.fin-dark {
    color:#888;
}

.fin-body {
    padding: 8px 4px; font-size:14px; border-bottom: 1px #eee solid;
}
.fin-footer {
     display:flex; width:100%; padding: 8px 4px; flex-direction: row;flex-wrap:nowrap;justify-content:space-between; font-size: 14px;
}
.fin-footer-left {
    flex: 1;
}
.fin-footer-right {
    width:60px; text-align:right;
}