<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content" th:remove="tag">
            <div id="sys_filter" class="form-inline" style="padding-bottom:10px;">

                <div class="input-group">
                    <span class="input-group-addon">店铺</span>
                    <select class='filter_element form-control' opt="eq" name='filter_storeSn'>
                        <option value="">=全部=</option>
                        <option th:each="store : ${storeList}" th:value="${store.sn}" th:text="${store.name}"></option>
                    </select>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">类别</span>
                    <select class='filter_element form-control' opt="eq" name='filter_cateId'>
                        <option value="">=全部=</option>
                        <option th:each="cate : ${categoryList}" th:value="${cate.id}" th:text="${cate.name}"></option>
                    </select>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">审核</span>
                    <select class='filter_element form-control' opt="eq" name='filter_status'>
                        <option value="">=全部=</option>
                        <option value="-1">取消</option>
                        <option value="1">审核中</option>
                        <option value="2">审核通过</option>
                        <option value="3">审核驳回</option>
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">收货</span>
                    <select class='filter_element form-control' opt="eq" name='filter_confirmStatus'>
                        <option value="">=全部=</option>
                        <option value="1">已指定</option>
                        <option value="2">确认收货</option>
                        <option value="3">确认未收货</option>
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">财务</span>
                    <select class='filter_element form-control' opt="eq" name='filter_voucherStatus'>
                        <option value="">=全部=</option>
                        <option value="1">待检查</option>
                        <option value="2">凭证齐全</option>
                        <option value="3">凭证异常</option>
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">打印</span>
                    <select class='filter_element form-control' opt="eq" name='filter_printFlag'>
                        <option value="">=全部=</option>
                        <option value="0">未打印</option>
                        <option value="1">已打印</option>
                    </select>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">项目</span>
                    <input type='text' style="width:140px;" class='filter_element form-control' opt="like" name='filter_title'/>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">报账人</span>
                    <input type='text' style="width:140px;" class='filter_element form-control' opt="like" name='filter_username'/>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">审核人</span>
                    <input type='text' style="width:140px;" class='filter_element form-control' opt="like" name='filter_verifyName'/>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">收货人</span>
                    <input type='text' style="width:140px;" class='filter_element form-control' opt="like" name='filter_confirmName'/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">财务人</span>
                    <input type='text' style="width:140px;" class='filter_element form-control' opt="like" name='filter_voucherName'/>
                </div>

                <span><button type="button" class="btn btn-primary btn-sm" id="beginFilter">查询</button></span>
            </div>
        </div>
    </body>
</html>
