<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>财务类别列表</title>
		<script type="text/javascript">
			$(function() {
				$(".delete-obj-href").deleteFun();
				$('[data-toggle="tooltip"]').tooltip();
			});
		</script>
	</head>
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="header lighter smaller blue">
			<h3><span class="glyphicon glyphicon-th-list"></span>&nbsp;财务报账列表（<span th:text="${datas.getTotalElements()}"></span>）</h3>
			<div th:replace="admin/finance/financeDetail/nav :: content" th:remove="tag"></div>
		</div>

		<div th:replace="admin/finance/financeDetail/filter :: content" th:remove="tag"></div>

		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>店铺</th>
						<th>总额</th>
						<th>项目</th>
						<th>报账人</th>
						<th>审核人</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>

				<tr th:each="obj : ${datas}">
					<td th:text="${obj.storeName}"></td>
					<td><span data-toggle="tooltip" data-placement="top" title="单价" th:text="${obj.price}"></span>*
						<span data-toggle="tooltip" data-placement="top" title="数量" th:text="${obj.amount}"></span>=
						<span data-toggle="tooltip" data-placement="top" title="总额" th:text="${obj.totalMoney}"></span>
					</td>
					<td>
						[<b th:text="${obj.cateName}"></b>]
						<span th:text="${obj.title}"></span>
					</td>
					<td>
						<p th:text="${obj.username}"></p>
						<p th:text="${obj.createTime}"></p>
					</td>
					<td>
						<p th:if="${obj.verifyName ne null}" th:text="${obj.verifyName}"></p>
						<p th:if="${obj.verifyTime ne null}" th:text="${obj.verifyTime}"></p>
						<p th:if="${obj.verifyReason ne null}" th:text="${obj.verifyReason}"></p>
						&nbsp;
					</td>
					<td th:switch="${obj.status}">
						<span th:case="-1" class="red">取消</span>
						<span th:case="0">未提交审核</span>
						<span th:case="1" style="color:#ff8100">审核中</span>
						<b th:case="2" style="color:#00F">审核通过</b>
						<b th:case="3" style="color:#F00">驳回</b>
					</td>
					<td>
						-
					</td>
				</tr>
			</table>

			<div th:include="fragments/page :: pager" th:remove="tag"></div>
		</div>
	</div>
</body>
</html>