<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>财务类别列表</title>
		<script type="text/javascript">
			$(function() {
				$(".delete-obj-href").deleteFun();
				$('[data-toggle="tooltip"]').tooltip();
			});
		</script>
		<script type="text/javascript" src="/back-admin/bus/finance-print.js"></script>
	</head>
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="header lighter smaller blue">
			<h3><span class="glyphicon glyphicon-th-list"></span>&nbsp;财务报账列表（<span th:text="${datas.getTotalElements()}"></span>）</h3>
			<div th:replace="admin/finance/financeDetail/nav :: content" th:remove="tag"></div>
		</div>

		<div th:replace="admin/finance/financeDetail/filter :: content" th:remove="tag"></div>

		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>店铺</th>
						<th>总额</th>
						<th>项目</th>
						<th>报账人</th>
						<th>审核</th>
						<th>收货</th>
						<th>财务</th>
						<th>标记</th>
						<th>
							<button class="btn btn-default print-btn" disabled="disabled">不可打印</button>
						</th>
					</tr>
				</thead>

				<tr th:each="obj : ${datas}">
					<td th:text="${obj.storeName}"></td>
					<td><span data-toggle="tooltip" data-placement="top" title="单价" th:text="${obj.price}"></span>*
						<span data-toggle="tooltip" data-placement="top" title="数量" th:text="${obj.amount}"></span>=
						<span data-toggle="tooltip" data-placement="top" title="总额" th:text="${obj.totalMoney}"></span>
					</td>
					<td>
						[<b th:text="${obj.cateName}"></b>]
						<span th:text="${obj.title}"></span>
					</td>
					<td>
						<p th:text="${obj.username}"></p>
						<p th:text="${obj.createTime}"></p>
					</td>
					<!--<td>
						<p th:if="${obj.verifyName ne null}" th:text="${obj.verifyName}"></p>
						<p th:if="${obj.verifyTime ne null}" th:text="${obj.verifyTime}"></p>
						<p th:if="${obj.verifyReason ne null}" th:text="${obj.verifyReason}"></p>
					</td>-->
					<td>
						<p th:switch="${obj.status}">
							<span th:case="-1" class="red">取消</span>
							<span th:case="0">未提交审核</span>
							<span th:case="1" style="color:#ff8100">审核中</span>
							<b th:case="2" style="color:#00F">[<i th:text="${obj.verifyName}"></i>]审核通过</b>
							<b th:case="3" style="color:#F00">[<i th:text="${obj.verifyName}"></i>]驳回<i th:text="${obj.verifyReason}"></i></b>
						</p>
						<p th:if="${obj.verifyTime ne null}" th:text="${obj.verifyTime}"></p>
					</td>
					<td>
						<p th:switch="${obj.confirmStatus}">
							<span th:case="0">-</span>
							<span th:case="1" style="color:#ff8100">等待【<b th:text="${obj.confirmName}"></b>】收货</span>
							<b th:case="2" style="color:#00F">[<i th:text="${obj.confirmName}"></i>]已收货</b>
							<b th:case="3" style="color:#F00">[<i th:text="${obj.confirmName}"></i>]确认未收货</b>
						</p>
						<p th:if="${obj.confirmTime ne null}" th:text="${obj.confirmTime}"></p>
					</td>
					<td>
						<p th:switch="${obj.voucherStatus}">
							<span th:case="0">-</span>
							<span th:case="1" style="color:#ff8100">财务检查中</span>
							<b th:case="2" style="color:#00F">[<i th:text="${obj.voucherName}"></i>]凭证齐全</b>
							<b th:case="3" style="color:#F00">[<i th:text="${obj.voucherName}"></i>]驳回<i th:text="${obj.voucherReason}"></i></b>
						</p>
						<p th:if="${obj.voucherTime ne null}" th:text="${obj.voucherTime}"></p>
					</td>
					<td th:switch="${obj.printFlag}">
						<b th:case="0" style="color:#F00">待打印</b>
						<b th:case="1" style="color:#00F">已打印</b>
					</td>
					<td>
						<input type="checkbox" class="single-box"
							   th:attr="storeSn=${obj.storeSn},detailId=${obj.id},userOpenid=${obj.userOpenid}"
                               th:if="${obj.voucherStatus eq '2'}"
						/>
                        <span th:unless="${obj.voucherStatus eq '2'}" title="当前状态不可打印">-</span>
						<a th:if="${obj.status eq '-1'}" class="delete-obj-href red auth" sn="AdminFinanceDetailController.delete" th:title="'此操作不可逆，确定删除【'+${obj.title}+'】吗？'" th:href="'/admin/financeDetail/delete/'+${obj.id}">
							<i class="fa fa-remove"></i>
						</a>
					</td>
				</tr>
				<tfoot>
					<tr>
						<td style="text-align:right;" colspan="9">
							<button class="btn btn-default print-btn" disabled="disabled">不可打印</button>
						</td>
					</tr>
				</tfoot>
			</table>

			<div th:include="fragments/page :: pager" th:remove="tag"></div>
		</div>
	</div>
</body>
</html>