<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<script type="text/javascript" src="/basic/validate/bootstrapValidator.js"></script>
		<script src="/js/jedate/jquery.jedate.min.js"></script>
		<link type="text/css" rel="stylesheet" href="/js/jedate/skin/jedate.css"/>
		<script src="/back-admin/bus/my-date.js"></script>
		<script src="/back-admin/bus/admin-food.js"></script>
		<title>添加食品</title>
	</head>
	<body>
		<div th:fragment="content" th:remove="tag">
			<div class="header lighter smaller blue">
				<h3><i class="fa fa-plus"></i>&nbsp;添加食品</h3>
				<div th:replace="admin/food/nav :: content" th:remove="tag"></div>
			</div>

			<form method="POST" th:object="${food}" onsubmit="return checkData()" id="dataForm" enctype="multipart/form-data">
				<input name="storeName" type="hidden"/>
				<input name="storeSn" type="hidden"/>
				<input name="cateName" type="hidden"/>

				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">所属店铺：</div>
						<select name="storeId" class="form-control">
							<option value="-1">选择所属店铺</option>
							<option th:each="store:${storeList}" th:attr="sn=${store.sn}" th:value="${store.id}" th:text="${store.name}"></option>
						</select>

						<div class="input-group-addon">所在分类：</div>
						<select name="cateId" class="form-control">
							<!--<option th:each="cate:${cateList}" th:value="${cate.id}" th:text="${cate.name}"></option>-->
						</select>
					</div>
				</div>


				<!--<div class="form-group form-group-lg">
					<div class="input-group">

					</div>
				</div>-->
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">食品名称：</div>
						<input name="name" type="text" class="form-control" id="name" th:value="${food.name}" placeholder="请输入食品名称" />

						<div class="input-group-addon">售卖方式：</div>
						<div class="form-control">
							<input type="radio" name="saleMode" value="1" id="saleMode_1" th:checked="${food.saleMode == '1'}?'checked'"/><label for="saleMode_1">堂食</label>
							<input type="radio" name="saleMode" value="2" id="saleMode_2" th:checked="${food.saleMode == '2'}?'checked'"/><label for="saleMode_2">外卖</label>
							<input type="radio" name="saleMode" value="3" id="saleMode_3" th:checked="${food.saleMode == '3'}?'checked'"/><label for="saleMode_3">均可</label>
						</div>
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">单价：</div>
						<input name="price" type="text" class="form-control" th:value="${food.price}" placeholder="请输入食品单价，元" />

						<div class="input-group-addon">单位：</div>
						<input name="unitName" type="text" class="form-control" th:value="${food.unitName}" placeholder="请输入单位，如：份" />
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">序号：</div>
						<input name="orderNo" id="orderNo" type="text" class="form-control" th:value="${food.orderNo}" placeholder="请输入序号，越小越靠前，只能输入整数" />

						<div class="input-group-addon">状态：</div>
						<div class="form-control">
							<input type="radio" name="status" value="1" id="status_1" th:checked="${food.status == '1'}?'checked'"/><label for="status_1">可销售</label>
							<input type="radio" name="status" value="0" id="status_0" th:checked="${food.status == '0'}?'checked'"/><label for="status_0">不可售</label>
						</div>
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">食品图片：</div>
						<input name="file" type="file" class="form-control" />

						<div class="input-group-addon">打印模式：</div>
						<div class="form-control">
							<input type="radio" name="printFlag" value="0" id="printFlag_0" th:checked="${food.printFlag == '0'}?'checked'"/><label for="printFlag_0">不打印</label>
							<input type="radio" name="printFlag" value="1" id="printFlag_1" th:checked="${food.printFlag == '1'}?'checked'"/><label for="printFlag_1">吧台打印</label>
							<input type="radio" name="printFlag" value="2" id="printFlag_2" th:checked="${food.printFlag == '2'}?'checked'"/><label for="printFlag_2">厨房打印</label>
							<input type="radio" name="printFlag" value="3" id="printFlag_3" th:checked="${food.printFlag == '3'}?'checked'"/><label for="printFlag_3">甜品站打印</label>
							<input type="radio" name="printFlag" value="all" id="printFlag_all" th:checked="${food.printFlag == 'all'}?'checked'"/><label for="printFlag_all">全部打印</label>
						</div>
					</div>
				</div>

				<input type="hidden" name="token" th:value="${session.token}"/>
				<button type="submit" class="btn btn-primary">确定提交</button>
			</form>

			<script type="text/javascript">
				jQuery(function($) {
					$('#dataForm').bootstrapValidator({
				        live: 'disabled',
						message: '验证不通过',
						feedbackIcons: {
							valid: 'glyphicon glyphicon-ok',
							invalid: 'glyphicon glyphicon-remove',
							validating: 'glyphicon glyphicon-refresh'
						},
						fields: {
							name: {
								validators: {
									notEmpty: {
										message: '请输入名称'
									}
								}
							},
							orderNo: {
								validators: {
									notEmpty: {
										message: '请输入序号'
									},
									regexp: {
										regexp: "^[1-9][0-9]*$",
            							message: '序号必须为大于0的正整数'
									}
								}
							}
						}
					});
				});
			</script>
		</div>
	</body>
</html>
