<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content" th:remove="tag">
            <div id="sys_filter" class="form-inline" style="padding-bottom:10px;">
                <div class="input-group">
                    <span class="input-group-addon">所属店铺</span>
                    <select class='filter_element form-control' opt="eq" name='filter_storeId'>
                        <option value="">=全部=</option>
                        <option th:each="store : ${storeList}" th:value="${store.id}" th:text="${store.name}"></option>
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">分类</span>
                    <select class='filter_element form-control' opt="eq" name='filter_cateId'>
                        <option value="">=全部=</option>
                        <option th:each="cate : ${cateList}" th:value="${cate.id}" th:text="${cate.name}"></option>
                    </select>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">名称</span>
                    <input type='text' style="width:140px;" class='filter_element form-control' opt="like" name='filter_name'/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">打印模式</span>
                    <select class='filter_element form-control' opt="eq" name='filter_printFlag'>
                        <option value="">=全部=</option>
                        <option value="all">全部打印</option>
                        <option value="1">吧台打印</option>
                        <option value="2">厨房打印</option>
                        <option value="3">甜品站打印</option>
                    </select>
                </div>

                <span><button type="button" class="btn btn-primary btn-sm" id="beginFilter">查询</button></span>
            </div>
        </div>
    </body>
</html>
