<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="ace-settings-container" id="ace-settings-container">
                <ul class="pagination">
                    <li><a class="auth" sn="AdminDiscountDayController.list" href="/admin/discountDay/list"><span class="glyphicon glyphicon-th-list"></span> 折扣日列表</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
