<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>会员列表</title>
		<script type="text/javascript">
			$(function() {
				$(".delete-obj-href").deleteFun();
			});
		</script>
		<script type="text/javascript" src="/back-admin/bus/multi/moneybag-list.js"></script>
	</head>
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="header lighter smaller blue">
			<h3><span class="glyphicon glyphicon-th-list"></span>&nbsp;会员列表<small>（<span th:text="${#lists.size(datas)}"></span>）</small>
				[总余额：【<b th:text="${totalMoney}" class="red"></b>】元,余额大于0人数：【<b class="red" th:text="${totalCount}"></b>】人]
			</h3>
			<div th:replace="admin/multi/moneybag/nav :: content" th:remove="tag"></div>
		</div>

        <div th:replace="admin/multi/moneybag/filter :: content" th:remove="tag"></div>

		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>店铺</th>
						<th>姓名</th>
						<th>电话</th>
						<th>余额+冻结</th>
						<th>日期</th>
						<th>操作</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="obj : ${datas}">
						<td th:text="${obj.id}">${obj.id}</td>
						<td th:text="${obj.storeName}">${obj.id}</td>
						<td th:text="${obj.name}">${obj.name}</td>
						<td th:text="${obj.phone}">${obj.name}</td>
						<td>
							<span th:text="${obj.money}" title="可用金额"></span>+
							<b class="red" title="冻结金额" th:text="${obj.freezeMoney}"></b>=
							<span th:text="${obj.money+obj.freezeMoney}"></span>
						</td>
						<td th:text="${obj.createTime}"></td>
						<td>
							<div class="action-buttons">
								<a class="green auth" sn="AdminMoneybagController.update" title="修改" th:href="'/admin/moneybag/update/'+${obj.id}">
									<i class="fa fa-pencil"></i>
								</a>

								<a href="javascript:void(0)" onclick="onCharge(this)"
								   th:attr="objId=${obj.id},objName=${obj.name},money=${obj.money}"
								>充值</a>
								<!--<a class="delete-obj-href red auth" sn="AdminMoneybagController.delete" th:title="'此操作不可逆，确定删除【'+${obj.name}+'】吗？'" th:href="'/admin/moneybag/delete/'+${obj.id}">
									<i class="fa fa-remove"></i>
								</a>-->
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:include="fragments/page :: pager" th:remove="tag"></div>
		</div>
	</div>
</body>
</html>