<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="ace-settings-container" id="ace-settings-container">
                <ul class="pagination">
                    <li><a class="auth" sn="AdminPriceController.list" href="/admin/price/list"><span class="glyphicon glyphicon-th-list"></span> 价格配置列表</a></li>
                    <li><a class="auth" sn="AdminPriceController.add" href="/admin/price/add"><span class="fa fa-plus"></span> 添加价格配置</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
