<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<script type="text/javascript" src="/basic/validate/bootstrapValidator.js"></script>
		<title>添加微信菜单</title>
	</head>
	<body>
		<div th:fragment="content" th:remove="tag">
			<div class="header lighter smaller blue">
				<h3><i class="fa fa-plus"></i>&nbsp;添加微信菜单<span style="color:#F00;" th:if="${parent ne null}" th:text="'（父菜单：'+${parent.name}+'）'"></span></h3>
				<div th:replace="admin/wxMenu/nav :: content" th:remove="tag"></div>
			</div>

			<form method="POST" th:object="${wxMenu}" id="dataForm">
				<input name="pid" th:value="${parent.id}" th:if="${parent ne null}" type="hidden"/>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">菜单名称：</div>
						<input name="name" type="text" class="form-control" th:value="${wxMenu.name}" placeholder="请输入微信菜单名称" />
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">序号：</div>
						<input name="orderNo" type="text" class="form-control" th:value="${wxMenu.orderNo}" placeholder="请输入微信菜单序号" />
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">类型：</div>
						<div class="form-control">
							<label class="radio-inline">
								<input type="radio" name="type" id="inlineRadio1" value="view"> view
							</label>
							<label class="radio-inline">
								<input type="radio" name="type" id="inlineRadio2" value="click"> click
							</label>
							<label class="radio-inline">
								<input type="radio" name="type" id="inlineRadio3" value="miniprogram"> 小程序
							</label>
						</div>
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">链接地址：</div>
						<input name="url" type="text" class="form-control" th:value="${wxMenu.url}" placeholder="请输入链接地址，以http://开头，view时填" />
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">点击值：</div>
						<input name="optKey" type="text" class="form-control" th:value="${wxMenu.optKey}" placeholder="点击值，click时填" />
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">appID：</div>
						<input name="appid" type="text" class="form-control" th:value="${wxMenu.appid}" placeholder="appid，小程序时填" />
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">访问地址：</div>
						<input name="pagePath" type="text" class="form-control" th:value="${wxMenu.pagePath}" placeholder="访问地址，小程序时填" />
					</div>
				</div>

				<input type="hidden" name="token" value="${session.token}"/>
				<button type="submit" class="btn btn-primary">确定提交</button>
			</form>
		</div>
	</body>
</html>