<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<script type="text/javascript" src="/basic/validate/bootstrapValidator.js"></script>
		<title>添加分类</title>
		<script type="text/javascript">
			$(function() {
				//alert("---")
				$(".store-select").change(function(e) {
					var options = e.target.options;
					var option = options[e.target.options.selectedIndex];
					console.log($(option).attr("value"), $(option).text())
					$("input[name='storeSn']").val($(option).attr("sn"));
					$("input[name='storeName']").val($(option).text());
					console.log(options, option);
				});
			});
			function checkData() {
				var sn = $("input[name='storeSn']").val();
				if(!sn) {alert("请先选择所属店铺"); return false;}
				else {return true;}
			}
		</script>
	</head>
	<body>
		<div th:fragment="content" th:remove="tag">
			<div class="header lighter smaller blue">
				<h3><i class="fa fa-plus"></i>&nbsp;添加分类</h3>
				<div th:replace="admin/category/nav :: content" th:remove="tag"></div>
			</div>

			<form method="POST" th:object="${category}" onsubmit="return checkData()" id="dataForm" enctype="multipart/form-data">
				<input name="storeName" type="hidden"/>
				<input name="storeSn" type="hidden"/>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">所属店铺：</div>
						<select name="storeId" class="form-control store-select">
							<option value="-1">选择所属店铺</option>
							<option th:each="store:${storeList}" th:attr="sn=${store.sn}" th:value="${store.id}" th:text="${store.name}"></option>
						</select>
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">名称：</div>
						<input name="name" type="text" class="form-control" th:value="${category.name}" placeholder="请输入分类名称" />
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">序号：</div>
						<input name="orderNo" type="text" class="form-control" th:value="${category.orderNo}" placeholder="请输入序号" />
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">图片：</div>
						<input name="file" type="file" class="form-control" />
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">备注：</div>
						<input name="remark" type="text" class="form-control" th:value="${category.remark}" placeholder="请输入备注信息" />
					</div>
				</div>

				<input type="hidden" name="token" th:value="${session.token}"/>
				<button type="submit" class="btn btn-primary">确定提交</button>
			</form>
		</div>
	</body>
</html>