<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>钱包列表</title>
		<script type="text/javascript">
			$(function() {
				$(".delete-obj-href").deleteFun();
			});
		</script>
		<script type="text/javascript" src="/admin/bus/money-show.js"></script>
		<script type="text/javascript" src="/admin/bus/admin-wallet.js"></script>
		<style>
			.head-img {border-radius:5px; width:50px;}
		</style>
	</head>
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="header lighter smaller blue">
			<h3><span class="glyphicon glyphicon-th-list"></span>&nbsp;钱包列表<small>（<span th:text="${datas.getTotalElements()}"></span>）</small></h3>
			<div th:replace="admin/wallet/nav :: content" th:remove="tag"></div>
		</div>

		<div th:replace="admin/wallet/filter :: content" th:remove="tag"></div>

		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>昵称</th>
						<th>电话</th>
						<th>现金余额</th>
						<th>积分余额</th>
						<th>操作</th>
					</tr>
				</thead>

				<tr th:each="obj : ${datas}">
					<td th:text="${obj.accountName}"></td>
					<td th:text="${obj.phone}"></td>
					<td th:text="${obj.money}" class="show-money"></td>
					<td th:text="${obj.score}+' 分'"></td>
					<td>
						<a href="javascript:void(0)" class="auth single-wallet" th:attr="phone=${obj.phone}, openid=${obj.openid}" sn="AdminWalletController.plus">充值</a>
					</td>
				</tr>
			</table>

			<div th:include="fragments/page :: pager" th:remove="tag"></div>
		</div>
	</div>
</body>
</html>