<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="area-title" style="height: auto;"><i class="fa fa-gavel"></i> 最新订单
                <p style="line-height: 22px;">渔喜渔川（今：<b th:text="${ordersCountToday}"></b>，昨：<b th:text="${ordersCountYestoday}"></b>，共：<b th:text="${ordersCount}"></b> 人次）</p>
                <p style="line-height: 22px;">签王之王（今：<b th:text="${ordersCountToday_qwzw}"></b>，昨：<b th:text="${ordersCountYestoday_qwzw}"></b>，共：<b th:text="${ordersCount_qwzw}"></b> 人次）</p>
            </div>
            <div class="orders-area">
            <div class="single-order" th:each="orders : ${ordersList}">
                【<span th:text="${(orders.storeSn eq null or orders.storeSn eq '')?'渔喜渔川':orders.storeName}"></span>】
                <span th:remove="tag" th:switch="${orders.type}">
                    <span th:case="1">店内</span>
                    <span th:case="4">店内</span>
                    <span th:case="2">微信</span>
                    <span th:case="3">美团</span>
                    <span th:case="5">会员</span>
                    <span th:case="6">卡券</span>
                    <span th:case="9">伙食</span>
                </span>
                （<b th:text="${orders.commodityCount}"></b> 人）
                <span class="order-time" th:text="${orders.createTime}"></span>
            </div>
            </div>
        </div>
    </body>
</html>
