<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="area-title"><i class="fa fa-gavel"></i> 最新订单（今：<b th:text="${ordersCountToday}"></b>，昨：<b th:text="${ordersCountYestoday}"></b>，共：<b th:text="${ordersCount}"></b> 人次）</div>
            <div class="orders-area">
            <div class="single-order" th:each="orders : ${ordersList}">
                <span th:remove="tag" th:switch="${orders.type}">
                    <span th:case="1">店内订单</span>
                    <span th:case="4">店内订单</span>
                    <span th:case="2">微信订单</span>
                    <span th:case="3">美团订单</span>
                    <span th:case="5">会员订单</span>
                    <span th:case="6">卡券订单</span>
                </span>
                （<b th:text="${orders.commodityCount}"></b> 人）
                <span class="order-time" th:text="${orders.createTime}"></span>
            </div>
            </div>
        </div>
    </body>
</html>
