<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/weixinModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${session.appConfig ne null?session.appConfig.appName:'汉丽轩'}">昭通汉丽轩</title>
    <script src="/weixin/weixin-index.js"></script>
    <script src="/weixin/gallery/jssor.slider-22.2.10.mini.js"></script>
    <script src="/weixin/gallery/main.js"></script>
    <link type="text/css" rel="stylesheet" href="/weixin/main-index.css"/>
    <link type="text/css" rel="stylesheet" href="/weixin/gallery/main.css"/>
    <link type="text/css" rel="stylesheet" href="/weixin/wx-category.css"/>
</head>
<body>
<div th:fragment="content" th:remove="tag">

    <div th:replace="weixin/index/index-gallery :: content" th:remove="tag"></div>
    <div th:replace="weixin/index/index-flex :: content" th:remove="tag"></div>
    <!--<div class="single-line"></div>-->

    <div th:replace="weixin/index/index-buy :: content" th:remove="tag"></div>
    <div th:replace="weixin/index/index-address :: content" th:remove="tag"></div>

    <div th:replace="weixin/index/index-orders :: content" th:remove="tag"></div>
    <div th:replace="weixin/index/index-comment :: content" th:remove="tag"></div>

    <div th:replace="weixin/index/index-footer :: content" th:remove="tag"></div>
    <!--<div th:replace="weixin/wx-tabbar :: content" th:remove="tag"></div>-->
</div>
</body>
</html>