<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="ace-settings-container" id="ace-settings-container">
                <ul class="pagination">
                    <li><a class="auth" sn="AdminActivityController.list" href="/admin/activity/list"><span class="glyphicon glyphicon-th-list"></span> 活动列表</a></li>
                    <li><a class="auth" sn="AdminActivityController.add" href="/admin/activity/add"><span class="fa fa-plus"></span> 添加活动</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
