<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<script type="text/javascript" src="/basic/validate/bootstrapValidator.js"></script>
	<title>修改活动</title>
</head>
<body>
<div th:fragment="content" th:remove="tag">
	<div class="header lighter smaller blue">
		<h3><i class="fa fa-plus"></i>&nbsp;修改活动</h3>
		<div th:replace="admin/activity/nav :: content" th:remove="tag"></div>
	</div>

	<form method="POST" th:object="${activity}" id="dataForm">
		<div class="form-group form-group-lg">
			<div class="input-group">
				<div class="input-group-addon">活动标题：</div>
				<input name="title" type="text" class="form-control" th:value="${activity.title}" placeholder="请输入分类名称" />
			</div>
		</div>
		<div class="form-group form-group-lg">
			<div class="input-group">
				<div class="input-group-addon">活动描述：</div>
				<textarea name="remark" class="form-control" th:text="${activity.remark}" placeholder="请输入活动描述" style="height:120px;"></textarea>
			</div>
		</div>

		<div class="form-group form-group-lg">
			<div class="input-group">
				<div class="input-group-addon">参与条件：</div>
				<textarea name="conditions" class="form-control" th:text="${activity.conditions}" placeholder="请输入参与条件" style="height:120px;"></textarea>
			</div>
		</div>

		<div class="form-group form-group-lg">
			<div class="input-group">
				<div class="input-group-addon">奖品描述：</div>
				<textarea name="prizeDesc" class="form-control" th:text="${activity.prizeDesc}" placeholder="请输入奖品描述" style="height:120px;"></textarea>
			</div>
		</div>


		<input type="hidden" name="token" value="${session.token}"/>
		<button type="submit" class="btn btn-primary">确定提交</button>
	</form>
</div>
</body>
</html>