<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/weixinModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>添加收入</title>
    <script src="/jedate-new/jedate.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/jedate-new/skin/jedate.css"/>
    <script src="/back-admin/bus/my-date.js"></script>
    <script src="/back-admin/bus/admin-income.js"></script>

    <script type="text/javascript">
        $(function() {
            $("input[name='storeSn']").click(function() {
                //console.log($(this).val());
                var sn = $(this).val();

                var name = $(this).parents("span").find("label").html();
                //var name = sn=="hlx"?"汉丽轩":"签王之王";
                $("input[name='storeName']").val(name);
            });
        });

        function checkForm() {
            //var storeSn = $("input[name='storeSn']:checked").val();
            //if(!storeSn) {showDialog("请选择店铺", "操作提示"); return false;}
            //console.log(storeSn);
            /*const data = $("#dataForm").serialize();
            console.log(data)
            return false;*/
            var cash = $("input[name='cash']").val();
            if(cash<=0) {
                showDialog("请输入金额", "系统提示");
                return false;
            }
        }
    </script>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div class="container">
        <div class="header lighter smaller blue">
            <h3><i class="fa fa-plus"></i>&nbsp;添加收入</h3>
        </div>

        <form method="POST" th:object="${income}" onsubmit="return checkForm();" id="dataForm" enctype="multipart/form-data">
            <ul class="nav nav-tabs" style="margin-bottom:12px;">
                <li role="presentation" th:each="s: ${storeList}" th:class="${s.sn eq curStoreSn ? 'active':''}"><a th:href="'/wx/income/add?storeSn='+${s.sn}" th:text="${s.name}">Home</a></li>
            </ul>

            <!--<input name="storeName" value="汉丽轩" type="hidden"/>-->
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">收入日期：</div>
                    <input type='text' th:value="${(income.comeDay eq null or income.comeDay eq '')?day:income.comeDay}" id="income-day" onchange="changeDate(this)" autocomplete="off" class='form-control income-day' name="comeDay"/>
                </div>
            </div>


            <input type="hidden" name="type" value="1"/>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">人数：</div>
                    <input name="peopleCount" type="number" class="form-control" th:value="${income.peopleCount}" placeholder="人数" />

                    <div class="input-group-addon">桌数：</div>
                    <input name="deskCount" type="number" class="form-control" th:value="${income.deskCount}" placeholder="桌数" />
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">金额：</div>
                    <input name="cash" type="number" step="0.01" class="form-control money-input" th:value="${income.cash}" placeholder="单位元" />

                    <div class="input-group-addon">小计：</div>
                    <input name="totalMoney" type="text" disabled="disabled" style="font-weight:bold; color:#F00" class="form-control" th:value="${income.totalMoney}" placeholder="单位元" />
                </div>
            </div>
            <div class="dar" th:if="${income.id gt 0}" style="padding-bottom: 10px;">于<span th:text="${income.createTime}" style="padding:0px 8px; color:#F00;"></span>登记过</div>

            <div class="form-group">
                <div class="weui-uploader__bd">
                    <div class="show-img-div">
                    <ul class="weui-uploader__files" th:if="${income.ticketPath ne null and income.ticketPath ne ''}">
                        <!-- 显示凭证 -->
                        <li class="weui-uploader__file single-voucher" th:attr="path=${income.ticketPath}" th:style="'background-image: url('+${income.ticketPath}+');margin-top: 10px;'"></li>
                    </ul>
                    </div>
                    <!-- 如果财务没有审核通过，都可以上传凭证 -->
                    <div class="weui-uploader__input-box">
                        <input class="weui-uploader__input uploader-btn" type="file" accept="image/*"/>
                    </div>
                </div>
                <div class="alert alert-warning upload-remind-div" style="display: none;">正在上传，请耐心等待...</div>
            </div>

            <input type="hidden" name="token" th:value="${income.token}"/>
            <input type="hidden" name="objId" th:value="${income.id}"/>
            <input type="hidden" name="comeToken" th:value="${income.token}"/>
            <input type="hidden" name="curStoreSn" th:value="${curStoreSn}"/>
            <input type="hidden" name="storeSn" th:value="${curStoreSn}" th:if="${param.storeSn eq null}"/>

            <input type="hidden" name="tempPath"/>
            <button type="submit" class="btn btn-primary">确定提交</button>
        </form>
    </div>
</div>
</body>
</html>
