<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/weixinModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>会员系统-问渠餐饮</title>
    <link type="text/css" rel="stylesheet" href="/weixin/weixin-moneybag.css"/>
    <script type="text/javascript" src="/weixin/weixin-addDetail.js"></script>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div class="container main-div">

        <h3>会员消费</h3>
        <h3>标记：<b th:text="${sn}"></b></h3>
        <input name="sn" type="hidden" th:value="${sn}"/>
        <input name="bagId" type="hidden"/>
        <input name="surplus" type="hidden"/>
        <div class="form-group form-group-lg">
            <div class="input-group">
                <div class="input-group-addon">电话：</div>
                <input type="tel" name="phone" maxlength="11" class="form-control"  placeholder="顾客手机号码"/>
            </div>
        </div>

        <div class="form-group form-group-lg">
            <div class="input-group">
                <div class="input-group-addon">密码：</div>
                <input type="number" name="password" maxlength="4" class="form-control"  placeholder="输入密码"/>
                <div class="input-group-addon" onclick="checkBag()">检索</div>
            </div>
        </div>

        <div class="form-group form-group-lg">
            <div class="input-group">
                <div class="input-group-addon">金额：</div>
                <input type="number" name="money" disabled="disabled" class="form-control"  placeholder="输入消费金额"/>
            </div>
        </div>
        <h4 id="bagName"></h4>

        <button class="btn btn-danger btn-lg submit-btn" disabled="disabled" onclick="submitDetail()">确定扣款</button>
        <div class="remark"><b>注意：</b>请先输入电话和密码点击“检索”，检索成功后再输入消费金额后可点击“扣款”按钮。默认密码是手机号码后4位，若顾客修改后可在“问渠餐饮”公众号中查看！</div>
    </div>
</div>
</body>
</html>