<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/weixinModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>会员系统-问渠餐饮</title>
    <link type="text/css" rel="stylesheet" href="/weixin/weixin-moneybag.css"/>
    <script type="text/javascript" src="/weixin/weixin-addDetail.js"></script>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div class="container main-div">

        <h3>会员消费</h3>
        <h3>标记：
            <b  th:switch="${sn}">
                <span th:case="hlx">汉丽轩</span>
                <span th:case="qwzw">签王之王</span>
                <span th:case="lms">兰木肆</span>
            </b>【<b th:text="${sn}"></b>】
            <!--<b th:text="${sn}"></b>-->
        </h3>
        <input name="sn" type="hidden" th:value="${sn}"/>
        <input name="bagId" type="hidden"/>
        <input name="surplus" type="hidden"/>
        <input name="realMoney" type="hidden"/>
        <div class="form-group form-group-lg">
            <div class="input-group">
                <div class="input-group-addon">电话：</div>
                <input type="tel" name="phone" maxlength="11" class="form-control"  placeholder="顾客手机号码"/>
                <div class="input-group-addon" onclick="checkBag()">检索</div>
            </div>
        </div>

        <div class="form-group form-group-lg">
            <div class="input-group">
                <div class="input-group-addon">金额：</div>
                <input type="number" name="money" disabled="disabled" class="form-control"  placeholder="输入消费金额"/>
                <div class="input-group-addon" onclick="setMoney()">确定</div>
            </div>
        </div>

        <h4 id="bagName"></h4>

        <div class="form-group form-group-lg">
            <div class="input-group">
                <div class="input-group-addon">消费：</div>
                <input type="number" name="dealMoney" disabled="disabled" class="form-control"  placeholder="输入应付金额"/>
            </div>
        </div>

        <div class="form-group form-group-lg">
            <div class="input-group">
                <div class="input-group-addon">密码：</div>
                <input type="password" name="password" disabled="disabled" onkeyup="changePwd()" maxlength="4" class="form-control"  placeholder="输入消费密码"/>
            </div>
        </div>

        <button class="btn btn-danger btn-lg submit-btn" disabled="disabled" onclick="submitDetail()">确定扣款</button>
        <div class="remark"><b>注意：</b>
            <p>1. 输入顾客手机号码，点“检索”查询顾客信息及余额；</p>
            <p>2. 输入消费金额，点“确定”；</p>
            <p>3. 请顾客输入密码；</p>
            <p>4. 消费密码默认是手机号码后4位，可在“问渠餐饮”公众号中查看和修改。</p>
            <p>5. “应付金额”指当餐消费的实际金额，即折扣前的金额。</p>
        </div>
    </div>
</div>
</body>
</html>