<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/weixinModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>会员系统-问渠餐饮</title>
    <link type="text/css" rel="stylesheet" href="/weixin/weixin-moneybag.css"/>
    <script type="text/javascript" src="/weixin/weixin-bag-index.js"></script>
    <script type="text/javascript" src="/weixin/weixin-bag-cal.js"></script>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div class="container main-div">

        <h3>标记：<b th:text="${sn}"></b></h3>

        <input type="hidden" th:value="${sn}" name="sn"/>
        <div class="form-group form-group-lg">
            <div class="input-group">
                <div class="input-group-addon">日期：</div>
                <input type="number" name="day" th:value="${day}" class="form-control" id="day" placeholder="格式：yyyyMMdd"/>
                <div class="input-group-addon" onclick="onFilter()">检索</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 need-center">
                <div class="single-data-div">
                    <div class="value"><b th:text="${count1}"></b><span>笔</span></div>
                    <div class="name">充值</div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 need-center">
                <div class="single-data-div">
                    <div class="value"><b th:text="${money1}"></b><span>元</span></div>
                    <div class="name">充值</div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 col-sm-6 col-xs-6 need-center">
                <div class="single-data-div is-consume">
                    <div class="value"><b th:text="${count2}"></b><span>笔</span></div>
                    <div class="name">消费</div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 need-center">
                <div class="single-data-div is-consume">
                    <div class="value"><b th:text="${money2}"></b><span>元</span></div>
                    <div class="name">消费</div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 col-sm-6 col-xs-6 need-center">
                <a th:href="|/weixin/moneybag/addBag?sn=${sn}|" class="btn btn-primary btn-lg">充值</a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 need-center">
                <a th:href="|/weixin/moneybag/addDetail?sn=${sn}|" class="btn btn-danger btn-lg">消费</a>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12 col-sm-12 col-xs-12 need-center">
                <a th:href="|/weixin/moneybag/listDetails?sn=${sn}&day=${day}|">收支详情</a>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 need-center">
                <a href="javascript:void(0)" class="btn btn-info btn-lg" onclick="onCal()">计算器</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>