<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="ace-settings-container" id="ace-settings-container">
                <ul class="pagination">
                    <li><a class="auth" sn="AdminGalleryController.list" href="/admin/gallery/list"><span class="glyphicon glyphicon-th-list"></span> 微信画廊列表</a></li>
                    <li><a class="auth" sn="AdminGalleryController.add" href="/admin/gallery/add"><span class="fa fa-plus"></span> 添加微信画廊</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
