<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>会员列表</title>
		<script type="text/javascript">
			$(function() {
				$(".delete-obj-href").deleteFun();
			});
		</script>
		<script type="text/javascript" src="/back-admin/bus/multi/moneybag-detail-list.js"></script>
	</head>
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="header lighter smaller blue">
			<h3><span class="glyphicon glyphicon-th-list"></span>&nbsp;会员详情列表<small>（<span th:text="${datas.totalElements}"></span>）</small></h3>
			<div th:replace="admin/multi/moneybagDetail/nav :: content" th:remove="tag"></div>
		</div>

        <div th:replace="admin/multi/moneybagDetail/filter :: content" th:remove="tag"></div>

		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>店铺</th>
						<th>顾客</th>
						<th>消费/余额</th>
						<th>日期</th>
						<th>备注</th>
						<th>操作</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="obj : ${datas}">
						<td th:text="${obj.storeName}">${obj.id}</td>
						<td><p th:text="${obj.name}"></p><p th:text="${obj.phone}"></p></td>
						<td>
							<p><span th:if="${obj.flag eq '1'}" class="red">充值</span>
								<span th:if="${obj.flag eq '2'}" class="blue">消费</span>
								：<b th:text="${obj.money}"></b><span class="red" th:if="${obj.freezeFlag eq '1'}">[冻结]</span></p>
							<p>剩余：<b th:text="${obj.surplus}"></b></p>
						<td>
							<p>操作店铺：<span th:text="${obj.optStoreName}"></span></p>
							<p>日期：<span th:text="${obj.createTime}"></span></p>
						</td>
						<td th:text="${obj.reason}"></td>
						<td>
							<button class="btn btn-danger" th:if="${obj.freezeFlag eq '1'}" th:attr="objId=${obj.id}" onclick="onUnfreeze(this)">手动解冻</button>
							<span th:if="${obj.freezeFlag ne '1'}">-</span>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:include="fragments/page :: pager" th:remove="tag"></div>
		</div>
	</div>
</body>
</html>