<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/weixinModel">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="/weixin/stock/stock-index.js"></script>
    <script type="text/javascript" src="/weixin/stock/stock-tools.js"></script>
    <script type="text/javascript" src="/weixin/stock/stock-goods-apply-list.js"></script>
    <title th:text="${session.appConfig ne null?session.appConfig.appName:'汉丽轩'}">昭通汉丽轩</title>
</head>
<body>
    <div th:fragment="content" th:remove="tag">
        <input name="loginWorker" th:value="${session.loginWorker.operator}" type="hidden"/>
        <div class="page">
            <div class="page__bd">
                <div class="page">
                    <div class="page__bd" style="height: 100%;">
                        <div class="weui-tab">
                            <div class="weui-navbar">
                                <div class="weui-navbar__item weui-bar__item_on">
                                    <b class="title">盘点记录 ( <b th:text="${datas.totalElements}">0</b> )</b>
                                    <a href="/wx/stock/stockCheck/addCheck" style="float:right; padding-right:15px;">发起盘点 <b class="fa fa-balance-scale"></b></a>
                                </div>
                            </div>
                            <div class="weui-tab__panel">
                                <div class="weui-panel weui-panel_access">
                                    <div class="weui-panel__bd">
                                        <div class="weui-media-box weui-media-box_text" th:each="obj : ${datas}">
                                            <h4 class="weui-media-box__title"><a th:href="|/wx/stock/stockCheck/show?batchNo=${obj.batchNo}|" th:text="|${obj.checkName}发起的盘点|"></a>
                                            [
                                                <span th:if="${obj.status eq '0'}" style="color:green">发起中</span>
                                                <span th:if="${obj.status eq '1'}" style="color:blue">盘点中</span>
                                                <span th:if="${obj.status eq '2'}" style="color:blue">确认中</span>
                                                <span th:if="${obj.status eq '3'}" style="color:red">已完成</span>
                                            ]
                                            </h4>
                                            <p class="weui-media-box__desc" th:text="${obj.checkPhone}">备注</p>
                                            <ul class="weui-media-box__info">
                                                <li class="weui-media-box__info__meta" th:text="|${obj.verifyName}复核|">文字来源</li>
                                                <li class="weui-media-box__info__meta" th:text="${obj.createDay}">时间</li>
                                                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra" th:if="${obj.verifyOpenid eq session.openid and (obj.status eq '2' or obj.status eq '1')}"><a th:href="|/wx/stock/stockCheck/verify?batchNo=${obj.batchNo}|" >填单</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fragments/page-wx :: pager" style="margin:10px 10px 10px 0px;float:right;"></div>
    <div th:replace="weixin/index/index-footer :: content" th:remove="tag"></div>
</body>
</html>