<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<script type="text/javascript" src="/basic/validate/bootstrapValidator.js"></script>
		<script src="/js/jedate/jquery.jedate.min.js"></script>
		<link type="text/css" rel="stylesheet" href="/js/jedate/skin/jedate.css"/>
		<script src="/admin/bus/my-date.js"></script>
		<script src="/admin/bus/admin-food.js"></script>
		<title>添加礼物</title>
	</head>
	<body>
		<div th:fragment="content" th:remove="tag">
			<div class="header lighter smaller blue">
				<h3><i class="fa fa-plus"></i>&nbsp;添加礼物</h3>
				<div th:replace="admin/prize/nav :: content" th:remove="tag"></div>
			</div>

			<form method="POST" th:object="${prize}" id="dataForm" enctype="multipart/form-data">
				<input name="cateName" type="hidden"/>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">类型：</div>
						<select name="type" class="form-control">
							<option value="1">积分</option>
							<option value="2">抵价券</option>
							<option value="3">午餐券</option>
							<option value="4">晚餐券</option>
						</select>
					</div>
				</div>
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">名称：</div>
						<input name="name" type="text" class="form-control" id="name" th:value="${prize.name}" placeholder="请输入礼物名称" />
					</div>
				</div>
				<!--<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">数量：</div>
						<input name="amount" id="amount" type="text" class="form-control" th:value="${prize.amount}" placeholder="请输入礼物数量，只能输入整数" />
					</div>
				</div>-->
				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">价值：</div>
						<input name="worth" id="worth" type="text" class="form-control" th:value="${prize.worth}" placeholder="请输入礼物价值，只能输入整数；积分表示几个积分；其他则表示几分钱" />
						<span class="input-group-addon">&nbsp;分&nbsp;</span>
					</div>
				</div>
				<!--<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">图片：</div>
						<input name="file" type="file" class="form-control" />
					</div>
				</div>-->

				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">备注：</div>
						<input name="remark" type="text" class="form-control" id="remark" th:value="${prize.remark}" placeholder="请输入备注信息" />
					</div>
				</div>

				<input type="hidden" name="token" value="${session.token}"/>
				<button type="submit" class="btn btn-primary">确定提交</button>
			</form>

			<script type="text/javascript">
				jQuery(function($) {
					$('#dataForm').bootstrapValidator({
		//		        live: 'disabled',
						message: '验证不通过',
						feedbackIcons: {
							valid: 'glyphicon glyphicon-ok',
							invalid: 'glyphicon glyphicon-remove',
							validating: 'glyphicon glyphicon-refresh'
						},
						fields: {
							name: {
								validators: {
									notEmpty: {
										message: '请输入名称'
									}
								}
							},
							amount: {
								validators: {
									notEmpty: {
										message: '请输入数量'
									},
									regexp: {
										regexp: "^[1-9][0-9]*$",
            							message: '数量必须为大于0的正整数'
									}
								}
							}
						}
					});
				});
			</script>
		</div>
	</body>
</html>